include ../scripts/scripts
include ../illustration/illustration
include ../stage/stage
include ../price/price
include ../youtube-responsive/youtube-responsive
include ../head/head
| 
| 
block content
| 
| 
| <? require($_SERVER["DOCUMENT_ROOT"]."/bitrix/footer.php"); ?>
