extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Импланты зубов: виды и цены в Спб, зубные импланты: стоимость под ключ'
    var pageDescription = 'Все виды надежных имплантов зубов в спб в клинике ВайтДент. Опытные имплантологи. Цены на зубные импланты под ключ: 40500 руб. Гарантия результата! Срок службы до ХХ лет. Бесплатная консультация по телефону: +7 (812) 612-97-92.'
    var pageKeywords = ''
    var pageHeader = 'Импланты зубов'
    let imgPath = '/images/implantatsiya/implanty-zubov/'
  //-
    +illustration({file:'.jpg',path:imgPath, name:''})
    +stage({file:'.jpg',path:imgPath, name:''}) 
    +price('')
block content
  p Импланты зубов&nbsp;&mdash; это титановые стержни, которые играют роль искусственных корней зубов, выступая опорой для протеза или единичной коронки. 
  p Применяют для восстановления одного или нескольких зубов, при полной адентии, невозможности использовать съемные протезы и&nbsp;другие конструкции по&nbsp;причине аллергии и&nbsp;других процессов. 

  h2 Импланты зубов, виды и&nbsp;цены в&nbsp;СПб
  ul.list-marked
    li Корневидные. Используются чаще, имеют вид ступенчатого цилиндра с&nbsp;резьбой. Устанавливают при достаточном объеме костной ткани, но&nbsp;допускается использование и&nbsp;после синус-лифтинга. Основой таких имплантов обычно выступает винт-саморез из&nbsp;титана.
      +illustration({file:'kornevidnye-implanty.jpg',path:imgPath, name:'Корневидные импланты'})
    li Пластиночные. Обеспечивает прочную фиксацию, поскольку внедряется в&nbsp;глубокие костные слои. Применяют при очень узкой кости, когда нет возможности поставить корневидные винты.
      +illustration({file:'plastinochnye-implanty.jpg',path:imgPath, name:'Пластиночные импланты'})
    li Комбинированные. Сочетают особенности пластиночного и&nbsp;корневидного имплантов. Часто выпускаются больших размеров, сложной формы. Предназначены для восстановления больших дефектов зубного ряда. 
      +illustration({file:'kombinirovannye-implanty.jpg',path:imgPath, name:'Комбинированные импланты'})
    li Субпериостальные. Устанавливают при сильном недостатке костной ткани. Внедряют в&nbsp;слой между костью и&nbsp;надкостницей. Конструкция ажурная, тонкая, но&nbsp;охватывает большие площади, потому надежно фиксируется, справляясь с&nbsp;возложенными функциями.
      +illustration({file:'subperiostalnye-implanty.jpg',path:imgPath, name:'Субпериостальные импланты'})
    li Внутрислизистые. Не&nbsp;внедряют в&nbsp;костные структуры. Основное назначение&nbsp;&mdash; стабилизация частичных и&nbsp;полных протезов.
      +illustration({file:'vnutrislizistye-implanty.jpg',path:imgPath, name:'Внутрислизистые импланты'})
    li Эндодонтически стабилизированные. Ввинчивают через верхушку зубного корня, что уменьшает травматизацию слизистой, тем самым ускоряя процесс заживления. Применяют, когда надо укрепить и&nbsp;удлинить зубной корень, чтобы обеспечить стабильность всей конструкции. 
      +illustration({file:'ehndodonticheski-stabilizirovannye.jpg',path:imgPath, name:'Эндодонтически стабилизированные'})
  p В&nbsp;зависимости от&nbsp;формы классифицируют&nbsp;на:
  ul.list-marked
    li конические,
      +illustration({file:'konicheskie-implanty.jpg',path:imgPath, name:'Конические импланты'})
    li цилиндрические,
      +illustration({file:'cilindricheskij-implant.jpg',path:imgPath, name:'Цилиндрический имплант'})
    li винтовые,
      +illustration({file:'vintovoj-implant.jpg',path:imgPath, name:'Винтовой имплант'})
    li трубчатые,
    li с&nbsp;кортикальными накладками,
      +illustration({file:'implanty-s-kortikalnymi-nakladkami.jpg',path:imgPath, name:'Импланты с кортикальными накладками'})
    li со&nbsp;ступенями.
  p В&nbsp;зависимости от&nbsp;бренда классифицируют&nbsp;на:
  ul.list-marked
    li Элитные: к&nbsp;ним относят импланты, произведенные в&nbsp;Швеции, США и&nbsp;Швейцарии. Это марки: Astra Tech, Straumann, Nobel Biocare.
    li Среднего класса (именно по&nbsp;стоимости, но&nbsp;не&nbsp;по&nbsp;качеству, последний параметр не&nbsp;уступает первым). К&nbsp;таким относят марки, произведенные в&nbsp;Южной Корее, Швейцарии, США, Германии: Osstem, Impro, Xive, Ankylos, Biomed, Biohorizons.
    li Бюджетные: искусственные зубные корни, произведенные в&nbsp;Южной Корее и&nbsp;Израиле. Это марки: Dentium, Alpha Bio, MIS.

  h2 Почему поставить зубные импланты в&nbsp;СПб лучше в&nbsp;&laquo;Вайт Дент&raquo;?
  ul.list-marked
    li Цифровое моделирование улыбки позволяет получить идеальный результат.
    li Имплантацию проводят врачи с&nbsp;европейским образованием.
    li Заняли лидирующую позицию в&nbsp;топ-10 клиник по&nbsp;имплантации.
    li Опыт работы, насчитывающий 15&nbsp;лет, позволяет эффективно решать даже самые сложные случаи.
    li Собственная зуботехническая лаборатория дает возможность ускорять процесс изготовления, регулировать стоимость в&nbsp;пользу пациентов, контролировать качество на&nbsp;всех этапах.
    li Восстанавливаем зубы конструкциями, идентичными по&nbsp;внешнему виду и&nbsp;функциям натуральным зубам. Это стало возможным благодаря использованию прогрессивных технологий, клинически испытанных, сертифицированных материалов.
    li Используем только современное оборудование: физиодиспенсеры японского и&nbsp;австрийского брендов NSK и&nbsp;W&amp;H, стоматологические установки SDS-2000 производства США.
    li С&nbsp;правильной тактикой лечения сложных случаев определяемся на&nbsp;врачебных собраниях, а&nbsp;в&nbsp;случае необходимости&nbsp;&mdash; привлекаем ведущих городских специалистов к&nbsp;консилиуму.
    li Держим качество под контролем с&nbsp;помощью современных методов диагностики: используем немецкий компьютерный томограф Galileos Sirona, итальянскую рентгенологическую установку XPLOR-X 70.
    li Предлагаем комфортное сотрудничество: кредитные программы с&nbsp;выгодными условиями, лечение в&nbsp;рассрочку для постоянных клиентов.

  h2 Цены на&nbsp;зубные импланты в&nbsp;СПб под ключ
  p Цены на&nbsp;имплантанты зубов в&nbsp;СПб отличаются, что зависит от&nbsp;многих критериев. Рассмотрим, как формируем мы&nbsp;стоимость импланта зуба под ключ в&nbsp;СПб. На&nbsp;сумму обычно влияет: вид импланта, конструкция, способ установки, цена работы специалистов, сложность случая. С&nbsp;примерными расценками вы&nbsp;сможете ознакомиться уже прямо сейчас в&nbsp;прайс-листе. А&nbsp;точную сумму озвучит врач во&nbsp;время первого визита в&nbsp;клинику: он&nbsp;посчитает стоимость имплантанта зуба с&nbsp;работой.
  +price(pageHeader)

  h2 Этапы имплантации 
  ol.list-numbered
    +stage({file:'ehtapy-uslugi-1.jpg',path:imgPath, name:'На консультации у имплантолога'}) Консультируем, проводим диагностику, составляем план лечения.
    +stage({file:'ehtapy-uslugi-2.jpg',path:imgPath, name:'Принцип профессиональной чистки зубов'}) Проводим лечение выявленных заболеваний, профессиональную чистку зубов.
    +stage({file:'ehtapy-uslugi-3.jpg',path:imgPath, name:'Установка импланта'}) Устанавливаем импланты выбранным способом.
    +stage({file:'ehtapy-uslugi-4.jpg',path:imgPath, name:'На этапе снятия слепков'}) Снимаем слепки, отправляем зубному технику.
    +stage({file:'ehtapy-uslugi-5.jpg',path:imgPath, name:'Принцип установки протезов на импланты'}) После приживления искусственного зубного корня, устанавливаем готовый протез.

  h2 Часто задаваемые вопросы
  h3 Как долго служит имплант?
  p При качественной и&nbsp;правильной установке и&nbsp;правильном уходе он&nbsp;может прослужить всю жизнь.
  h3 Будет&nbsp;ли отличаться уход за&nbsp;зубами после имплантации?
  p Нет, он&nbsp;практически не&nbsp;изменится. Надо только внимательно чистить все участки ротовой полости, использовать ополаскиватель, зубную нить, неплохо купить ирригатор.
  h3 Чем отличаются дорогие имплантаты?
  p Обычно на&nbsp;них больший гарантийный срок и&nbsp;они всегда приживаются без проблем.

  p Приглашаем на&nbsp;консультацию в&nbsp;клинику, чтобы как можно скорее вернуть улыбке безупречность. Долгое отсутствие зубов ведет к&nbsp;болезням пищеварительной системы и&nbsp;может искажать пропорции лица.
