extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Зуб на штифте: цены. Стоимость установки штифта в корень зуба в Санкт-Петербурге. Удалить стекловолоконные штифты.'
    var pageDescription = 'Клиника ВайтДент предлагает стекловолоконный штифт под коронку по низкой стоимости – 1200 руб. Имплантологи выполнят установку штифта в корень зуба или смогут удалить стекловолоконный штифт. Гарантии на все работы. Бесплатная консультация по телефону: +7 (812) 612-97-92. Звоните прямо сейчас!'
    var pageKeywords = ''
    let pageHeader = 'Установка штифта в корень зуба'
    let imgPath = '/images/implantatsiya/implanty-zubov/shtift/'
  //-
    +illustration({file:'.jpg',path:imgPath, name:''})
    +stage({file:'.jpg',path:imgPath, name:''}) 
    +price('')
block content
  p Штифт&nbsp;&mdash; аналог стержня, который устанавливают в&nbsp;зубной корень в&nbsp;качестве опоры для протезов или единичных коронок.
  p Штифты устанавливают, когда надо провести реплантацию, армирование, шинирование при пародонтозе, зафиксировать мост, нарастить зубной корень коронки, в&nbsp;случае его сильнейшего разрушения. 

  h2 Виды штифтов

  ul.list-marked
    li Анкерные: в&nbsp;состав входят палладиевый и&nbsp;золотоплатиновый сплавы. Подразделяется на&nbsp;пассивные (фиксируются на&nbsp;цемент) и&nbsp;активные (с&nbsp;резьбой, предназначены для ввинчивания в&nbsp;зубной корень).
      +illustration({file:'primer-ankernyh-shtiftov.jpg',path:imgPath, name:'Пример анкерных штифтов'})
    li Титановые: более дешевый аналог предыдущего вида. Поскольку материалу свойственна гипоаллергенность и&nbsp;прочность, такие штифты идут на&nbsp;укрепление даже чрезмерно разрушенных зубов. 
      +illustration({file:'titanovye-shtifty.jpg',path:imgPath, name:'Титановые штифты'})
    li Стекловолоконные штифты в&nbsp;стоматологии используются также часто. Такой стержень имеет более совершенный вид. Его изготавливают из&nbsp;непрерывных стеклянных волоконцев. С&nbsp;помощью таких штифтов достигают равномерной нагрузки, успешно применяют для передней группы зубов, поскольку они совершенно прозрачны. К&nbsp;достоинствам можно отнести, что они легко извлекаются, не&nbsp;ржавеют и&nbsp;не&nbsp;окисляются. 
      +illustration({file:'steklovolokonnye-shtifty.jpg',path:imgPath, name:'Стекловолоконные штифты'})
    li Углеродоволокнистые: штифты, наделенные прочностью и&nbsp;эластичностью, структурно напоминают костную ткань зуба. Обеспечивают равномерную нагрузку на&nbsp;канал корня, защищают коронку и&nbsp;корень от&nbsp;переломов. 
      +illustration({file:'uglerodovoloknistyj-shtift.jpg',path:imgPath, name:'Углеродоволокнистый штифт'})
    li Парапульпарные. Стрежни из&nbsp;сплавов металлов, с&nbsp;полимерным покрытием. В&nbsp;полость зуба их&nbsp;не&nbsp;устанавливают, а&nbsp;применяют преимущественно для укрепления или удержания пломбы.
      +illustration({file:'parapulparnyj-shtift.jpg',path:imgPath, name:'Парапульпарный штифт'})
  h2 Преимущества

  ul.list-marked
    li некоторые виды подходят для реставрации и&nbsp;фронтальной группы зубов;
    li возможность несложно и&nbsp;с&nbsp;минимальными усилиями реставрировать зубы с&nbsp;повреждениями;
    li сохранение зуба даже при сильном повреждении;
    li долговечность (конструкции служат более 10&nbsp;лет);
    li высокая прочность и&nbsp;равномерное распределение в&nbsp;корневом канале.

  h2 Почему восстановить зубы штифтом в&nbsp;СПб лучше в&nbsp;&laquo;Вайт Дент&raquo;?

  ul.list-marked
    li Реставрацию зубов проводят врачи с&nbsp;европейским образованием.
    li В&nbsp;течение 15&nbsp;лет успешно восстанавливаем зубы. За&nbsp;это время накопили колоссальный опыт эффективной ортопедической помощи даже в&nbsp;самых сложных случаях. 
    li Для решения нестандартных случаев собираем врачебные собрания, а&nbsp;в&nbsp;случае надобности&nbsp;&mdash; привлекаем ведущих специалистов города к&nbsp;консилиуму.
    li Собственная зуботехническая лаборатория позволяет нам отслеживать качество на&nbsp;каждом этапе, сокращать длительность изготовления конструкций, устанавливать доступную стоимость.
    li В&nbsp;арсенале исключительно современное оборудование: автоклавы от&nbsp;итальянского производителя Mosom, вакуумная система Turbo-Smart бренда Cattani, физиодиспенсеры W&amp;H из&nbsp;Австрии и&nbsp;NSK из&nbsp;Японии, стоматологические установки от&nbsp;американского бренда SDS-2000.
    li Идеального результата добиваемся с&nbsp;помощью цифрового моделирования улыбки. 
    li Чтобы гарантировать контролируемое качество, практикуем прогрессивные методы диагностики: работаем на&nbsp;немецком компьютерном томографе Galileos Sirona, итальянской рентгенологической установке XPLOR-X 70.
    li Для восстановления зубов используем конструкции, имеющие максимально натуральный вид: форму, размер, оттенок, и&nbsp;справляющиеся с&nbsp;возложенными на&nbsp;них функциями. Для этого используем сертифицированные материалы, успешно прошедшие испытания в&nbsp;клинических условиях, и&nbsp;прогрессивные технологии.
    li Наладили комфортные условия сотрудничества: предлагаем программы кредитования на&nbsp;выгодных условиях, а&nbsp;для постоянных клиентов возможна рассрочка на&nbsp;лечение. 

  h2 Сколько стоит штифт на&nbsp;зуб: цены услуги

  p Стоимость штифта под коронку зависит от&nbsp;множества критериев: материала изготовления, конструкции, величины разрушения зуба, особенностей фиксации и&nbsp;других нюансов. Примерные цены на&nbsp;установку штифта в&nbsp;корень зуба приведены в&nbsp;прайс-листе, а&nbsp;точную сумму назовет врач во&nbsp;время первого визита в&nbsp;клинику.
  +price('Установка штифта в корень зуба')

  h2 Этапы установки

  ol.list-numbered
    li Врач согласовывает с&nbsp;пациентом и&nbsp;составляет план восстановления зуба, проводит диагностику, подбирает материалы, определяется с&nbsp;методом установки.
    li Проводит подготовку зуба: обработку корневого канала. 
    li Устанавливает конструкцию в&nbsp;каналы корня.
    li Фиксирует, переходит к&nbsp;реставрации коронкового участка.

  h2 Принципы долговечности, безболезненности, точности и&nbsp;безопасности

  ul.list-marked
    li долговечность обеспечена двойной гарантией (от&nbsp;клиники и&nbsp;производителя);
    li современные обезболивающие обеспечивают абсолютную безболезненность;
    li точность обеспечена работой на&nbsp;компьютерном томографе;
    li безопасность основана на&nbsp;программах антигепатит и&nbsp;антиспид, сертифицированном стерилизационном оборудовании и&nbsp;безвредном излучении томографа.
  +youtube({id: 'lo-rbsRTMds', desc: 'Пример лечения с установкой штифтов'})
  h2 Часто задаваемые вопросы

  h3 Насколько легко удалить штифты?

  p Например, удалить стекловолоконные штифты в&nbsp;Петербурге вам возьмутся в&nbsp;любой клинике, поскольку они легко извлекаются из&nbsp;канала. Что касается остальных видов, то&nbsp;каждый случай индивидуален.

  h3 Какие есть минусы штифтов?

  p Больше всего минусов у&nbsp;металлических стержней. Они приводят к&nbsp;повышенному давлению на&nbsp;корень, не&nbsp;подходят для восстановления передних зубов и&nbsp;крайне сложно удаляются. 

  h3 Что делать, если конструкция сломается?

  p Такое происходит редко, поскольку опытный врач выбирает такую конструкцию и&nbsp;материал, которые справятся с&nbsp;нагрузками на&nbsp;зуб. Если&nbsp;же это произошло, то&nbsp;нужно немедленно обратиться за&nbsp;ортопедической помощью, чтобы исправить ситуацию.

  p Приглашаем записаться на&nbsp;консультацию в&nbsp;клинику, чтобы приступить к&nbsp;реставрации зубов, не&nbsp;откладывая. Затягивание с&nbsp;ортопедическим лечением может приводить к&nbsp;болезням желудка, нарушать пропорции лица.
