extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Импланты Nobel active biocare с установкой. Цены на зубные импланты nobel под ключ в Санкт-Петербурге'
    var pageDescription = 'Клиника ВайтДент предлагает надежные импланты Nobel. Опытные имплантологи. Цены на импланты nobel под ключ: 35500 руб. Гарантия результата! Срок службы до ХХ лет. Бесплатная консультация по телефону: +7 (812) 612-97-92.'
    var pageKeywords = ''
    var pageHeader = 'Импланты Nobel Biocare'
    let imgPath = '/images/implantatsiya/implanty-zubov/nobel/'
  //-
    +illustration({file:'.jpg',path:imgPath, name:''})
    +stage({file:'.jpg',path:imgPath, name:''}) 
    +price('')
block content

  p Зубные имплантаты Nobel&nbsp;&mdash; это искусственные зубные корни премиального класса, представленные титановыми винтами, которые выпускает швейцарская компания Nobel Biocare.
  p Имплантаты этого вида устанавливают при отсутствии одного зуба или множественных пробелах в&nbsp;зубном ряду, для решения нестандартных клинических случаев и&nbsp;при недостатке объема костной ткани. 

  h2 Виды
  ul.list-marked
    li Replace: гибкая система корневидной формы, пользующаяся наибольшей популярностью. Главный плюс&nbsp;&mdash; совместимость с&nbsp;любыми коронками. Винты подходят и&nbsp;для классической, и&nbsp;для экспресс-имплантации.
      +illustration({file:'implanty-nobel-replace.jpg',path:imgPath, name:'Импланты Nobel Replace'})
    li Replace Groovy. Винты с&nbsp;двойной резьбой, отличаются стабильностью, повышенной на&nbsp;30% по&nbsp;сравнению с&nbsp;другими видами.
      +illustration({file:'implant-nobel-replace-groovy.jpg',path:imgPath, name:'Имплант Nobel Replace Groovy'})
    li Импланты Nobel Active. Имеют параллельные стенки, двойная резьба способствует прочной фиксации, совместимы с&nbsp;классическими абатментами. Предпочтительны при большой убыли костной ткани.
      +illustration({file:'implant-nobel-active.jpg',path:imgPath, name:'Имплант Nobel Active'})
    li Branemark System. Конструкции цилиндрической формы, предназначенные для имплантации в&nbsp;плотную костную ткань.
      +illustration({file:'implant-nobel-branemark-system.jpg',path:imgPath, name:'Имплант Nobel Branemark System'})
    li Speedy. Винты конического типа, максимально просто устанавливаются, подходят при низкоплотной костной ткани, их&nbsp;часто используют в&nbsp;технологии all-on-4.
      +illustration({file:'implant-nobel-speedy.jpg',path:imgPath, name:'Имплант Nobel Speedy'})

  h2 Преимущества
  ul.list-marked
    li Высокое качество: импланты Nobel Biocare изготовлены из&nbsp;титана высшего класса, в&nbsp;котором отсутствуют посторонние примеси, что существенно ускоряет заживление костных тканей.
    li Уникальная запатентованная шероховатая поверхность, каждому импланту присвоен свой регистрационный номер, поэтому подделки исключены.
    li Внушительный опыт в&nbsp;производстве и&nbsp;применении в&nbsp;стоматологии позволяет достигать практически 100%-ной приживаемости.
    li Хорошей интеграции имплантов способствует и&nbsp;уникальное покрытие, по&nbsp;структуре близкое к&nbsp;человеческой кости.
    li Свойства покрытия и&nbsp;особая форма конструкций позволяет проводить протезирование сразу&nbsp;же после установки имплантов.
    li Устанавливаются малотравматичным способом.
    li Высокие эстетические показатели.
    li Простая установка и&nbsp;быстрое привыкание.
    li Большой выбор по&nbsp;длине, диаметру, что позволяет подобрать конструкцию, исходя из&nbsp;клинического случая.
    li Особая форма верхушки способствует качественной и&nbsp;надежной фиксации абатмента.
    li Пожизненная гарантия от&nbsp;производителя.

  h2 Почему поставить импланты Nobel в&nbsp;СПб лучше в&nbsp;&laquo;Вайт Дент&raquo;?
  ul.list-marked
    li За&nbsp;работу берутся имплантологи с&nbsp;европейским образованием.
    li Вошли в&nbsp;топ-10 клиник по&nbsp;имплантации.
    li Идеального результата достигаем, практикуя цифровое моделирование улыбки.
    li Создали комфортные условия сотрудничества: постоянным клиентам предлагаем лечение в&nbsp;рассрочку, действуют выгодные программы кредитования.
    li Решаем даже сложные, нестандартные клинические случаи: над решением работаем в&nbsp;рамках врачебных собраний, а&nbsp;также консилиумов с&nbsp;привлечением ведущих специалистов города.
    li Качество держим под контролем с&nbsp;помощью прогрессивных методов диагностики: работаем на&nbsp;немецком компьютерном томографе Galileos Sirona, итальянской рентгенологической установке XPLOR-X 70.
    li Стоматологическую помощь оказываем только на&nbsp;современном оборудовании: с&nbsp;помощью австрийских и&nbsp;японских физиодиспенсеров W&amp;H и&nbsp;NSK, американских стоматологических установок SDS-2000, итальянских автоклавов Mosom.
    li Восстанавливаем зубы конструкциями, максимально идентичными натуральным зубам: по&nbsp;функционалу, форме, размеру, оттенку. Для этого используем сертифицированные, клинически испытанные материалы, прогрессивные технологии.
    li Собственная зуботехническая лаборатория позволяет влиять на&nbsp;ценообразование в&nbsp;сторону уменьшения, сокращать срок изготовления, отслеживать на&nbsp;всех этапах качество. 
    li Восстанавливаем зубы уже 15&nbsp;лет: за&nbsp;это время накопили значительный опыт в&nbsp;решении даже самых нестандартных клинических случаев. 

  h2 Цены

  p Стоимость формируется из&nbsp;разных критериев: вида имплантов, способа фиксации и&nbsp;метода восстановления зубов, сложности случая, индивидуальных особенностей организма. Предлагаем узнать, какая будет цена под ключ имплантов Nobel Biocare в&nbsp;прайс-листе.
  +price(pageHeader)

  h2 Этапы восстановления зубов
  ol.list-numbered
    li Проводим диагностику, консультацию, составляем план лечения: определяемся с&nbsp;видом имплантата, методом восстановления зубов, создаем цифровую модель улыбки.
    li Санируем ротовую полость, проводим профессиональную чистку зубов.
    li Устанавливаем импланты, даем время на&nbsp;приживление.
    li Делаем оттиск, передаём в&nbsp;зуботехническую лабораторию.
    li Зубной техник отливает модель протеза, проводим примерку.
    li Если коррекции не&nbsp;нужно, отправляем модель на&nbsp;изготовление постоянного протеза.
    li Устанавливаем абатмент, фиксируем готовый протез.

  h2 Принципы безопасности, точности, безболезненности и&nbsp;долговечности

  ul.list-marked
    li безопасность обеспечиваем программами антигепатит и&nbsp;антиспид, сертифицированным стерилизационным оборудованием, безвредным излучением томографа;
    li точность обусловлена работой на&nbsp;компьютерном томографе;
    li безболезненности достигаем применением современных обезболивающих препаратов;
    li долговечность выстраивается из&nbsp;двойной гарантии (от&nbsp;производителя и&nbsp;клиники).

  h2 Часто задаваемые вопросы

  h3 Назовите противопоказания
  p Беременность, возраст до&nbsp;18&nbsp;лет, воспалительные процессы в&nbsp;полости рта, инфекционные болезни, аномалии челюстно-лицевого аппарата, заболевания соединительной ткани и&nbsp;костей, лечение гормональными препаратами.

  h3 Есть&nbsp;ли какие-то особенности имплантации?
  p Да, установка имплантов на&nbsp;верхней челюсти часто предваряется операцией синус-лифтинга.

  h3 Расскажите немного о&nbsp;подготовке к&nbsp;имплантации
  p Часто основной задачей является именно наличие достаточного количества костной ткани. Если мы&nbsp;обнаруживаем атрофию, то&nbsp;проводим процедуру наращивания костной ткани. 

  p Приглашаем на&nbsp;консультацию в&nbsp;клинику, чтобы как можно быстрее приблизиться к&nbsp;идеальной улыбке. Затягивание с&nbsp;восстановлением зубов приводит к&nbsp;проблемам с&nbsp;пищеварением, искажает эстетику лица.
