extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var pageHeader = ''
    let imgPath = '/images/implantatsiya/implanty-zubov/skolko-stoit-postavit/'
  //-
    +illustration({file:'.jpg',path:imgPath, name:''})
    +stage({file:'.jpg',path:imgPath, name:''}) 
    +price('')
block content
  +price('Имплантология')
  h2 От&nbsp;чего зависит стоимость имплантации?
  p Чтобы рассчитать общую сумму, нужно знать, сколько стоит зубной имплантат, добавить цену синус-лифтинга или костной пластики (если назначено врачом), обезболивающих препаратов (или наркоза), диагностики, лечения зубов (санации), непосредственно работы по&nbsp;самой установке имплантата.
  p На&nbsp;ценообразование влияет цена каждого этапа восстановления зубов:
  ul.list-marked
    li
      strong Диагностика.
      |  Цена этого этапа зависит от&nbsp;продолжительности и&nbsp;методов обследования, в&nbsp;нее входит стоимость составления плана лечения, создания компьютерной томограммы, консультации у&nbsp;врача.
    li
      strong Подбор анестетиков.
      |  Цена услуги определяется стоимостью обезболивающих препаратов.
    li
      strong Синус-лифтинг.
      |  На&nbsp;стоимость услуги влияет цена костной ткани.
    li
      strong Лечение зубов.
      |  В&nbsp;цену услуги заложена стоимость услуг стоматолога, гигиениста, используемых препаратов, материалов и&nbsp;сложности болезни. 
    li
      strong Имплантация и&nbsp;дальнейшее протезирование.
      |  В&nbsp;стоимость, кроме услуг имплантолога, входит цена коронок, абатментов и&nbsp;определяющим является, сколько стоит один имплантант зуба с&nbsp;установкой.
  h2 Из&nbsp;чего складывается цена установки импланта?
  p Стоимость можно рассчитать по&nbsp;формуле: цена анестетика (наркоза) + стоимость компьютерной томографии + цена лечения зубов + стоимость услуг хирурга-имплантолога+ стоимость имплантата + цена абатмента и&nbsp;коронки.
  h2 Как сэкономить на&nbsp;лечении зубов под наркозом?
  p Сам наркоз увеличивает стоимость имплантации, но&nbsp;устраняет страх пациента перед имплантацией. Использование наркоза необходимо при обширных оперативных вмешательствах, которые требуют полного спокойствия пациента и&nbsp;исключают лишние движения его во&nbsp;время операции и&nbsp;в&nbsp;особо сложных случаях. Сэкономить на&nbsp;наркозе, к&nbsp;сожалению, не&nbsp;получится.
  table.content-table
    tr
      td Фиксированная стоимость
      td Наличный и&nbsp;безналичный расчет
      td Установите имплант сейчас, оплачивайте по&nbsp;частям и&nbsp;позже
    tr
      td Платеж в&nbsp;рассрочку
      td Цены прозрачные, скрытые платежи и&nbsp;переплаты отсутствуют
      td Предлагаем комфортный вариант оплаты: с&nbsp;банковской карты, счета или наличными
  h2 Честный прайс-лист на&nbsp;имплантацию
  p В&nbsp;&laquo;Вайт Дент&raquo; всегда честный прайс-лист на&nbsp;имплантацию зубов (по&nbsp;сравнению с&nbsp;тем, сколько стоит имплантант одного зуба в&nbsp;СПб). Это значит, что пациент ни&nbsp;за&nbsp;что не&nbsp;доплачивает. В&nbsp;стоимость входит цена компьютерной томографии, лечения зубов, услуг имплантолога, стоматолога, всех необходимых материалов и&nbsp;препаратов.
