extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Вставить (поставить) имплантанты зубов: цены в спб, установка имплантов зубов'
    var pageDescription = 'Вставить (поставить) надежные имплантанты зубов в клинике ВайтДент. Имплантологи со стажем более 15 лет. Гарантия качества. Цена на установку имплантов зубов: 23000 лет. Звоните прямо сейчас: +7 (812) 612-97-92.'
    var pageKeywords = ''
    var pageHeader = 'Установка имплантов зубов'
    let imgPath = '/images/implantatsiya/implanty-zubov/ustanovka/'
  //-
    +illustration({file:'.jpg',path:imgPath, name:''})
    +stage({file:'.jpg',path:imgPath, name:''}) 
    +price('')
block content
  p Установка имплантов зубов&nbsp;&mdash; это процесс внедрения в&nbsp;челюстную кость винтов из&nbsp;титана, которые&nbsp;бы выполняли роль зубного корня: были опорой для протезов, справлялись с&nbsp;функцией жевания. 
  p Процедуру проводят при отсутствии одного или нескольких зубов, полной адентии.

  h2 Почему делать установку имплантов зубов в&nbsp;СПб лучше в&nbsp;&laquo;Вайт Дент&raquo;?
  ul.list-marked
    li Занимаем лидирующую позицию в&nbsp;топ-10 клиник по&nbsp;имплантации.
    li Работы проводят имплантологи с&nbsp;европейским образованием.
    li Успешно решаем нестандартные, сложные случаи, рассматривая все возможности стоматологической помощи на&nbsp;врачебных собраниях, а&nbsp;также с&nbsp;привлечением к&nbsp;консилиуму ведущих городских специалистов.
    li Цифровое моделирование улыбки позволяет нам достичь идеального результата.
    li Благодаря своей зуботехнической лаборатории можем обеспечить контролируемое качество на&nbsp;всех этапах изготовления конструкций, устанавливать доступные цены и&nbsp;сокращать срок изготовления.
    li Эффективность решения даже сложных клинических случаев обеспечивает наш внушительный опыт работы, насчитывающий уже 15&nbsp;лет.
    li Восстанавливаем зубы такими конструкциями, которые по&nbsp;функционалу, оттенку, величине и&nbsp;форме идентичны натуральным зубам. Для этого используем прогрессивные технологии, клинически испытанные, сертифицированные материалы.
    li Качество держим под контролем с&nbsp;помощью продвинутых методов диагностики: итальянской рентгенологической установки XPLOR-X 70, немецкого компьютерного томографа Galileos Sirona.
    li Для оказания стоматологической помощи используем только современное оборудование от&nbsp;автрийских, японских, американских и&nbsp;итальянских производителей: физиодиспенсеры W&amp;H и&nbsp;NSK, стоматологические установки SDS-2000, автоклавы Mosom.
    li Предлагаем комфортные условия сотрудничества: кредитные программы на&nbsp;выгодных условиях, лечение в&nbsp;рассрочку для постоянных клиентов.

  h2 Поставить имплантант зуба: цена услуги

  p Когда вы&nbsp;решите вставить зубы в&nbsp;СПб, цены на&nbsp;имплантанты могут сильно отличаться. Понять причину можно в&nbsp;особенностях ценообразования данной услуги. В&nbsp;цену обычно входит стоимость работы имплантолога, других специалистов, вид и&nbsp;конструкция искусственного корня, выбранный способ установки, оборудование и&nbsp;другие нюансы. Точную сумму назовет врач во&nbsp;время первого визита в&nbsp;клинику, а&nbsp;пока предлагаем посмотреть стоимость установки импланта зуба в&nbsp;прайс-листе.
  +price(pageHeader)
  h2 Преимущества установки имплантов зубов

  ul.list-marked
    li надежная и&nbsp;прочная фиксация протезных конструкций,
    li предотвращение травматизации здоровых зубов,
    li коронки и&nbsp;протезы на&nbsp;имплантах сходны по&nbsp;виду и&nbsp;функционалу со&nbsp;здоровыми зубами,
    li лучший выход для пациентов с&nbsp;аллергией на&nbsp;металлы, акрил и&nbsp;другие составные части съемных протезов,
    li долговечный способ восстановления зубов;
    li равномерное распределение нагрузки на&nbsp;зубы&nbsp;&mdash; защита от&nbsp;атрофии кости. 

  h2 Установка зубного импланта (имплантанта): основные этапы
  ol.list-numbered
    +stage({file:'ehtapy-uslugi-1.jpg',path:imgPath, name:'На этапе планирования установки импланта'}) Проводим диагностику, консультацию: выявляем противопоказания, заболевания, определяемся со&nbsp;способом имплантации, видом и&nbsp;конструкцией имплантов, составляем план лечения.
    +stage({file:'ehtapy-uslugi-2.jpg',path:imgPath, name:'Этапы профессиональной чистки зубов'}) Проводим лечение зубов (если были выявлены заболевания), профессиональную чистку.
    +stage({file:'ehtapy-uslugi-3.jpg',path:imgPath, name:'В процессе имплантации зуба'}) Устанавливаем импланты одно- или двухэтапным способом: в&nbsp;первом случае внедряем винт сразу после удаления зуба либо спустя пару месяцев, а&nbsp;во&nbsp;втором&nbsp;&mdash; вначале устанавливаем искусственный зубной корень, даем время на&nbsp;приживление, а&nbsp;потом фиксируем абатмент.

  h2 Принципы безболезненности, долговечности, точности, безопасности
  ul.list-marked
    li используя современные анестетики, достигаем полной безболезненности,
    li долговечность базируется на&nbsp;двойной гарантии от&nbsp;клиники и&nbsp;производителя,
    li точность обеспечена использованием компьютерного томографа,
    li безопасность основана на&nbsp;использовании сертифицированного стерилизационного оборудования, безвредном излучении томографа, программах антиспид и&nbsp;антигепатит.
  +youtube({id: 'MB8iOX-Ij1k', desc: 'Процесс установки импланта'})
  h2 Часто задаваемые вопросы
  h3 Когда установку имплантов не&nbsp;проводят?
  p Во&nbsp;время беременности, при сахарном диабете, болезнях печени, крови, слизистой полости рта, нервной системы, туберкулезе, онкологии, нарушениях в&nbsp;костной ткани.
  h3 Как быстро приживается имплант?
  p Срок обычно индивидуален для каждого пациента, в&nbsp;среднем от&nbsp;нескольких месяцев до&nbsp;полугода.
  h3 Насколько высок риск, что имплант не&nbsp;приживется?
  p Практически равен нулю. Дело в&nbsp;том, что это прогнозируемая процедура, и&nbsp;если были правильно подобраны винты, не&nbsp;нарушалось качество, соблюдались все меры предосторожности, а&nbsp;пациент выполнял рекомендации врача, то&nbsp;отторжение не&nbsp;наступит. 

  p Приглашаем записаться на&nbsp;консультацию в&nbsp;клинику, чтобы как можно скорее получить совершенные зубы. А&nbsp;пока вы&nbsp;откладываете с&nbsp;визитом, неизбежно увеличивается риск заболеваний пищеварительной сферы и&nbsp;даже искажения пропорций лица.
