mixin price(name)
  | <?
  |   $APPLICATION->IncludeComponent(
  |     "kmedia:prices",
  |     ".default",
  |     array(
  |       "IS_SERVICE_PAGE" => "Y",
  |       "TITLE" => "!{name}",
  |     ),
  |     false
  |   );
  | ?>
