block head
| <?
|   require($_SERVER["DOCUMENT_ROOT"]."/bitrix/header.php");
|   $APPLICATION->SetPageProperty("keywords", "!{pageKeywords}");
|   $APPLICATION->SetPageProperty("description", "!{pageDescription}");
|   $APPLICATION->SetPageProperty("title", "!{pageTitle}");
|   $APPLICATION->SetTitle("!{pageHeader}");
| ?>
| <? $APPLICATION->IncludeFile($includeAreasPath.'inner/inner_menu.php'); ?>
