extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var pageHeader = ''
    let imgPath = '/images/implantatsiya/implanty-zubov/abatment/'
block content
  p Абатмент&nbsp;&mdash; опорный элемент, на&nbsp;который фиксируется протез. Выступает в&nbsp;роли своеобразного переходника, соединяя в&nbsp;единое целое коронку и&nbsp;имплантат, крепится на&nbsp;винт.

  h2 Преимущества абатмента на&nbsp;имплантат:
  ul.list-marked
    li надежная и&nbsp;удобная фиксация протеза,
    li возможность снятия коронки с&nbsp;имплантата при необходимости,
    li быстрое привыкание,
    li максимум эстетики и&nbsp;естественности улыбки.

  h2 Виды абатментов
  ul.list-marked
    li стандартные: создают по&nbsp;шаблонам, отличаются по&nbsp;величине, форме;
      +illustration({file:'standartnyj-abatment-na-implantat.jpg',path:imgPath, name:'Стандартный абатмент на имплантат'})
    li индивидуальные: создаются с&nbsp;учетом анатомических особенностей пациента;
      +illustration({file:'individualnyj-abatment-na-implantat.jpg',path:imgPath, name:'Индивидуальный абатмент на имплантат'})
    li угловые: устанавливают на&nbsp;импланты, которые были вживлены под нестандартным углом;
      +illustration({file:'uglovoj-abatment-na-implantat.jpg',path:imgPath, name:'Угловой абатмент на имплантат'})
    li шаровидные: подходят под мини-импланты;
      +illustration({file:'sharovidnyj-abatment-na-implantat.jpg',path:imgPath, name:'Шаровидный абатмент на имплантат'})
    li временные (обычно это формирователь десны);
      +illustration({file:'vremennyj-abatment-na-implantat.jpg',path:imgPath, name:'Временный абатмент на имплантат'})
    li цельные конструкции: когда абатмент&nbsp;&mdash; единое целое с&nbsp;имплантом.
      +illustration({file:'celnyj-abatment-na-implantat.jpg',path:imgPath, name:'Цельный абатмент на имплантат'})

  h2 Почему поставить абатмент в&nbsp;СПб лучше в&nbsp;&laquo;Вайт Дент&raquo;?
  ol.list-numbered
    li Занимаем значимое место в&nbsp;топ-10 клиник по&nbsp;имплантации.
    li Работаем на&nbsp;компьютерном томографе: дает качество лечения как информативный и&nbsp;безопасный метод.
    li Протезирование и&nbsp;имплантацию выполняют врачи с&nbsp;европейским образованием.
    li Сводим к&nbsp;минимуму риск неприживаемости конструкций.
    li Выполняем цифровое моделирование улыбки. 
    li Восстанавливаем зубы даже в&nbsp;сложных случаях: при атрофии и&nbsp;других неблагоприятных процессах.
    li Устанавливаем конструкции, идеально повторяющие форму, оттенок, размер натуральных зубов. В&nbsp;этом нам помогают сертифицированные, клинически испытанные материалы, инновационные технологии.
    li Конструкции создаем в&nbsp;своей зуботехнической лаборатории, что позволяет устанавливать доступную стоимость, контролировать сроки и&nbsp;качество. Коронки изготавливаются из&nbsp;качественного сертифицированного материала, что позволяет продлить срок службы коронки до&nbsp;5&nbsp;лет и&nbsp;более.

  h2 Цена на&nbsp;абатмент на&nbsp;имплантат
  p Стоимость определяется разными факторами: видом имплантов и&nbsp;количеством, под которое подбираются абатменты, вариантом восстановления зубов и&nbsp;другими моментами. 
  p Поэтому купить абатмент можно по&nbsp;совершенно разной цене, которая определяется сложностью случая и&nbsp;необходимостью в&nbsp;дополнительных конструкционных моментах. Изготовление индивидуального абатмента и&nbsp;материал из&nbsp;которого он&nbsp;изготавливается соответственно увеличивают его стоимость.
  p Посмотреть примерные расценки можно в&nbsp;прайс-листе, а&nbsp;точную сумму назовет врач во&nbsp;время первого визита в&nbsp;клинику. Можем сразу сказать, что цена на&nbsp;коронку с&nbsp;абатментом у&nbsp;нас одна из&nbsp;разумных в&nbsp;СПб. 
  +price('Абатмент на имплантат')


  h2 Этапы услуги
  ol.list-numbered
    +stage({file:'ehtapy-uslugi-1.jpg',path:imgPath, name:'Цифровое моделирование улыбки'}) Диагностируем, консультируем, создаем цифровую модель улыбки.
    +stage({file:'ehtapy-uslugi-2.jpg',path:imgPath, name:'В процессе санирования полости рта'}) Санируем ротовую полость, проводим профессиональную чистку зубов.
    +stage({file:'ehtapy-uslugi-3.jpg',path:imgPath, name:'В процессе установки импланта'}) Устанавливаем импланты выбранным способом, даем срок на&nbsp;приживление.
    +stage({file:'ehtapy-uslugi-4.jpg',path:imgPath, name:'Установка абатмента на имплантат'}) Устанавливаем абатменты на&nbsp;цемент или винтовым способом. Установка абатмента на&nbsp;цемент делает конструкцию дешевле, но&nbsp;исключает возможность снятия коронки при необходимости.

  h2 Принципы долговечности, точности, безопасности и&nbsp;безболезненности
  ul.list-marked
    li долговечность складывается из&nbsp;гарантии и&nbsp;от&nbsp;клиники, и&nbsp;от&nbsp;производителя;
    li точность достигается работой на&nbsp;немецком компьютерном томографе;
    li безопасность основана на&nbsp;действии программы антиспид и&nbsp;антигепатит, безвредном излучении томографа, сертифицированных стерилизаторах;
    li процедура проходит без боли: проводим современными обезболивающими. У&nbsp;клиники есть возможность проводить операции в&nbsp;седации (под &laquo;наркозом&raquo;).
  +youtube({id:'zmnE2fc8TZY', desc:'Обзор абатмента'})

  h2 Часто задаваемые вопросы

  h3 Из&nbsp;каких материалов обычно изготавливают абатменты?
  p Используют диоксид циркония, титан, пластик (если речь о&nbsp;временных), комбинированные материалы.

  h3 Что такое абатмент для скуловых имплантов? 
  p Его используют при скуловом методе имплантации: винты фиксируют в&nbsp;скуловую кость. Стержни конструкций обычно длинные, устанавливаются под углом, идеально подходят при адентии и&nbsp;атрофии кости. Ну&nbsp;а&nbsp;абатменты, соответственно, получили такое название, потому что изготавливаются непосредственно под скуловые импланты.

  h3 Больно&nbsp;ли устанавливать абатмент?
  p Нет, поскольку процедура заключается в&nbsp;снятии формирователя десны и&nbsp;вкручивании абатмента, с&nbsp;уже установленной на&nbsp;него коронкой, в&nbsp;уже прижившийся имплантат.

  p Приглашаем на&nbsp;консультацию в&nbsp;клинику, чтобы как можно скорее восстановить зубы: их&nbsp;отсутствие не&nbsp;только нарушает эстетику, но&nbsp;и&nbsp;может провоцировать серьезные проблемы с&nbsp;пищеварением.
