extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var pageHeader = ''
    let imgPath = '/images/implantatsiya/implanty-zubov/alfa-bio/'
  //-
    +illustration({file:'.jpg',path:imgPath, name:''})
    +stage({file:'.jpg',path:imgPath, name:''}) 
    +price('')
block content
  p Имплантаты Альфа Био&nbsp;&mdash; это винтовые искусственные корни зубов, изготовленные израильской компанией из&nbsp;титанового сплава с&nbsp;ванадием и&nbsp;алюминием. 

  p Устанавливают, когда надо восстановить жевательные, боковые или передние зубы, а&nbsp;также весь зубной ряд.

  h2 Виды имплантов
  ul.list-marked
    li ATID: стержень с&nbsp;шероховатостью, устанавливают в&nbsp;кость на&nbsp;винт, зафиксированный в&nbsp;центре;
      +illustration({file:'implantaty-alfa-bio-atid.jpg',path:imgPath, name:'Имплантаты Альфа Био ATID'})
    li Dual Fit: для пациентов со&nbsp;сложностями в&nbsp;костной ткани, дает повышенную фиксацию;
      +illustration({file:'implantat-alfa-bio-dual-fit.gif',path:imgPath, name:'Имплантат Альфа Био Dual Fit'})
    li SPIRAL: предназначен под узкую кость челюсти, подходит для одновременной установки с&nbsp;коронкой;
      +illustration({file:'implantat-alfa-bio-spiral.jpg',path:imgPath, name:'Имплантат Альфа Био SPIRAL'})
    li ICE: одинаково подходит для вживления и&nbsp;в&nbsp;мягкую, и&nbsp;в&nbsp;твердую костную ткань;
      +illustration({file:'implantat-alfa-bio-ice.jpg',path:imgPath, name:'Имплантат Альфа Био ICE'})
    li NEO, NICE, Arrow Press: винты под эстетические реставрации, нестандартные случаи.
      +illustration({file:'implanty-alfa-bio-neo-nice.jpg',path:imgPath, name:'Импланты Альфа Био NEO, NICE'})
  h2 Преимущества имплантов Альфа Био:

  ul.list-marked
    li долгий срок службы;
    li высокая эстетика;
    li безопасность в&nbsp;ходе вживления;
    li можно устанавливать сразу после удаления зуба;
    li минимальный реабилитационный срок после установки;
    li минимум противопоказаний;
    li устанавливаются на&nbsp;любом участке зубного ряда;
    li почти 100%-ная приживаемость: высокая биосовместимость;
    li большой выбор: подбираются индивидуально под пациента;
    li простая и&nbsp;удобная установка&nbsp;&mdash; правильное размещение в&nbsp;костном ложе.

  h2 Почему поставить имплант зуба системы Альфа Био в&nbsp;СПб лучше в&nbsp;&laquo;Вайт Дент&raquo;?

  ul.list-marked
    li Занимаем достойное место в&nbsp;топ-10 клиник по&nbsp;имплантации.
    li Своя зуботехническая лаборатория ускоряет сроки создания, позволяет сокращать стоимость и&nbsp;отслеживать качество на&nbsp;всех этапах. Используем только европейские и&nbsp;японские материалы.
    li Качества и&nbsp;точности лечения достигаем, используя компьютерный томограф.
    li Восстановлением зубов занимаются имплантологи и&nbsp;протезисты с&nbsp;европейским образованием, большим опытом и&nbsp;стажем.
    li Сводим к&nbsp;предельному минимуму риск неприживаемости имплантатов.
    li Идеального результата достигаем с&nbsp;помощью цифрового моделирования улыбки.
    li Решаем даже сложные случаи: беремся за&nbsp;восстановление зубов даже при атрофии кости.
    li Конструкции, которые устанавливаем, по&nbsp;максимуму приближены к&nbsp;натуральному виду зубов по&nbsp;оттенку, форме, величине. Для этого применяем клинически испытанные, сертифицированные материалы, прогрессивные технологии. 

  h2 Цены

  p Имплантация этими винтами всегда бюджетная процедура, поскольку производитель позволяет купить имплант Альфа Био по&nbsp;невысокой стоимости. Стоимость зависит от&nbsp;количества зубов, которые надо установить, вида импланта, сложности случая и&nbsp;других критериев. Чтобы понять примерные расценки, предлагаем посмотреть цены на&nbsp;импланты Альфа Био Израиль с&nbsp;установкой, приведенные в&nbsp;прайсе.
  +price('')


  h2 Этапы услуги

  ol.list-numbered
    +stage({file:'ehtapy-uslugi-1.jpg',path:imgPath, name:'Во время первого визита в клинику'})  Проводим консультацию: делаем томограмму, цифровое моделирование, подбираем вид импланта, метод установки, составляем предварительный план лечения.
    +stage({file:'ehtapy-uslugi-2.jpg',path:imgPath, name:'В ходе санации полости рта'})  Санируем полость рта, проводим гигиеническую чистку зубов.
    +stage({file:'ehtapy-uslugi-3.jpg',path:imgPath, name:'В процессе установки импланта'})  Устанавливаем имплантаты, если необходимо, перед этим проводим костную пластику, синус-лифт.
    +stage({file:'ehtapy-uslugi-4.jpg',path:imgPath, name:'Снятие слепка'})  Устанавливаем ответную часть, снимаем слепки, передаем в&nbsp;зуботехническую лабораторию.
    +stage({file:'ehtapy-uslugi-5.jpg',path:imgPath, name:'Установка протеза на имплант'})  Устанавливаем готовый протез. 

  h2 Принципы безопасности, точности, безболезненности, долговечности

  ul.list-marked
    li безопасность базируется&nbsp;на: использовании томографа с&nbsp;безвредным излучением, действии программ антигепатит и&nbsp;антиспид, сертифицированном стерилизационном оборудовании;
    li точность обеспечена немецким компьютерным томографом;
    li безболезненность достигается использованием современных анестетиков;
    li долговечность обеспечена гарантией от&nbsp;производителя и&nbsp;нас.

  +youtube({id: 'EY8qmY8DXXg', desc: 'Демонстрация имплантов Альфа Био'})
  h2 Часто задаваемые вопросы

  h3 Назовите противопоказания

  p Болезни крови, онкология, воспалительные процессы, сниженный иммунитет, пародонтит. 

  h3 Расскажите об&nbsp;особенностях ухода

  p Чистите зубы щеткой, зубной нитью, хорошо будет использовать ирригатор. Не&nbsp;забывайте об&nbsp;использовании бальзамов, ополаскивателей. Дважды в&nbsp;год проводите профессиональную чистку зубов у&nbsp;гигиениста и&nbsp;посещать хирурга имплантолога для осмотра. Осмотр бесплатный.

  p Приглашаем записаться на&nbsp;консультацию в&nbsp;клинику, чтобы как можно скорее вернуть эстетику улыбке, а&nbsp;также предотвратить проблемы с&nbsp;пропорциями лица и&nbsp;болезнями желудка.
