extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Имплантация dentium в Спб: цена на импланты под ключ. Имплантаты dentium (дентиум).'
    var pageDescription = 'Клиника ВайтДент предлагает надежные имплантаты Dentium. Опытные имплантологи. Цены на имплантацию дентиум в Спб: 27000 руб. Гарантия результата! Срок службы до 25 лет. Бесплатная консультация по телефону: +7 (812) 612-97-92.'
    var pageKeywords = ''
    var pageHeader = 'Имплантаты Dentium'
    let imgPath = '/images/implantatsiya/implanty-zubov/dentium/'
  //-
    +illustration({file:'.jpg',path:imgPath, name:''})
    +stage({file:'.jpg',path:imgPath, name:''}) 
    +price('')
block content
  

  p Импланты Дентиум&nbsp;&mdash; это аналоги зубных корней, которые создает одноименная южнокорейская компания. Титановые винты марки устанавливают при отсутствии от&nbsp;одного до&nbsp;нескольких зубов, полной адентии. 

  h2 Особенности имплантов

  ul.list-marked
    li Dentium импланты имеют двойную резьбу, необходимую для экономии времени, уходящего на&nbsp;ввинчивание в&nbsp;челюстную кость. 
    li Увеличенный шаг резьбы&nbsp;&mdash; благоприятные условия для ранней остеоинтеграции. 
    li Максимальная герметизация с&nbsp;помощью шестигранного соединения искусственного зубного корня и&nbsp;абатмента.
    li На&nbsp;выбор винты разной ширины и&nbsp;длины: есть возможность подобрать под каждый клинический случай. 
    li Абатменты посеребрены: не&nbsp;просвечивают сквозь десны. 
    li Поверхность SLA, полученная обработкой абразивом, протравкой кислотой. Получившиеся поры ускоряют прорастание кости.
    li Возможна установка под углом: без повреждения челюстных нервов и&nbsp;наращивания костной ткани. 

  h2 Виды имплантов

  h3 Implantium
  +illustration({file:'implantaty-dentium-implantium.jpg',path:imgPath, caption:'Имплантаты Dentium Implantium', name:'Имплантаты Dentium Implantium'})

  p Относятся к&nbsp;категории наиболее востребованных. В&nbsp;основном из-за невысокой стоимости. Выраженных конструктивных особенностей не&nbsp;имеют. Соответствуют стандартам: выполнены из&nbsp;титана, форма корневидная, резьба&nbsp;&mdash; заостренная (облегчает установку в&nbsp;костные структуры), поверхность пористая, ускоряющая приживление. 

  h3 SuperLine
  +illustration({file:'implantaty-dentium-superline.jpg',path:imgPath, caption:'Имплантаты Dentium SuperLine', name:'Имплантаты Dentium SuperLine'})

  p Эти имплантаты Dentium относятся к&nbsp;премиальному классу, подходят для двухэтапной и&nbsp;одномоментной имплантации, эстетической реставрации зубов фронтальной группы. Винты имеют двойную резьбу, форму, идентичную естественному зубному корню, благодаря чему надежно фиксируются в&nbsp;кости, исключая минидвижения протеза, равномерно распределяют нагрузку. Поскольку у&nbsp;них отсутствует шейка, то&nbsp;это способствует более глубокому погружению искусственного зубного корня в&nbsp;костную ткань.

  h3 Slim Onebody 
  +illustration({file:'implantaty-dentium-slim-onebody.jpg',path:imgPath, caption:'Имплантаты Dentium Slim Onebody', name:'Имплантаты Dentium Slim Onebody'})

  p Имплантаты Дентиум этого типа разработаны для установки съемных протезов на&nbsp;несколько зубов или всю челюсть. Имеют удлиненную двойную резьбу с&nbsp;широким шагом. Позволяют реставрировать зубы даже при нестандартном строении кости челюсти. Отличаются безопасностью для здоровья, облегчают хирургическое вмешательство, сокращая время на&nbsp;установку. Протез на&nbsp;них можно фиксировать сразу после имплантирования. 

  p Титановые винты быстро приживаются, не&nbsp;вызывают аллергическую реакцию, выдерживают значительные жевательные нагрузки. Для установки не&nbsp;требуют большого объема костной ткани, подойдут даже при наличии противопоказаний к&nbsp;классической имплантации.

  h2 Преимущества имплантов
  ul.list-marked
    li изготовлены из&nbsp;биосовместимого с&nbsp;тканями организма материала, поэтому аллергия и&nbsp;риск отторжения минимальны;
    li уникальная конструкция обеспечивает высокую устойчивость;
    li особое внешнее покрытие обеспечивает оптимальное прилегание к&nbsp;тканям, оберегает костные структуры от&nbsp;травматизации;
    li равномерно распределяют нагрузку на&nbsp;челюстную кость;
    li риск осложнений сведен к&nbsp;минимуму, поскольку в&nbsp;основе только качественные материалы;
    li во&nbsp;время и&nbsp;после установки комфортные ощущения;
    li приживаемость высокая и&nbsp;быстрая;
    li эстетический вид;
    li можно сразу нагружать временной коронкой;
    li подходят для внедрения сразу после удаления зуба;
    li долгий срок службы и&nbsp;гарантии от&nbsp;производителя;
    li возможность восстановить зуб любой группы, универсальность;
    li подходят для установки даже при сложных клинических случаях;
    li доступная стоимость даже на&nbsp;премиальную разновидность;
    li подбираются под индивидуальные особенности;
    li полная герметичность, соединение винта и&nbsp;абатмента высокой прочности;
    li подходят для установки одновременно с&nbsp;наращиванием кости (не&nbsp;надо ждать, пока приживется костная ткань).

  h2 Почему имплантацию Dentium в&nbsp;СПб лучше проводить в&nbsp;&laquo;Вайт Дент&raquo;?
  ul.list-marked
    li Процедуру установки проводят имплантологи с&nbsp;европейским образованием, которые два-четыре раза в&nbsp;год повышают квалификацию на&nbsp;обучающих мероприятиях.
    li Заняли значимую позицию в&nbsp;топе-10 клиник по&nbsp;имплантации.
    li Планируем восстановление зубов и&nbsp;обеспечиваем точность установки с&nbsp;помощью компьютерной томографии на&nbsp;томографе ведущего немецкого бренда.
    li Беремся даже за&nbsp;самые сложные клинические случаи: для этого созываем врачебные консилиумы, в&nbsp;том числе и&nbsp;с&nbsp;привлечением ведущих специалистов города.
    li Обеспечиваем полную безболезненность, используя анестетики последнего поколения, успешно прошедшие все этапы клинических испытаний.
    li Действует двойная гарантия: от&nbsp;нашей клиники и&nbsp;производителя.
    li Используем только современное оборудование от&nbsp;японских, американских и&nbsp;европейских брендов.
  h2 Основные этапы имплантации Dentium
  ol.list-numbered
    +stage({file:'ehtapy-uslugi-1.jpg',path:imgPath, name:'На этапе цифрового моделирования имплантации'}) Проводим консультацию, полную диагностику, выявляем противопоказания, делаем цифровое моделирование улыбки, составляем план лечения. Подбираем тип импланта по&nbsp;показаниям и&nbsp;рекомендациям.
    +stage({file:'ehtapy-uslugi-2.jpg',path:imgPath, name:'На этапе санации полости рта'}) Если на&nbsp;первом этапе выявлены заболевания, проводим санацию полости рта. Также делаем профессиональную чистку зубов.
    +stage({file:'ehtapy-uslugi-3.jpg',path:imgPath, name:'Принцип наращивания костной ткани'}) Если необходимо&nbsp;&mdash; наращиваем костную ткань.
    +stage({file:'ehtapy-uslugi-4.jpg',path:imgPath, name:'На этапе установки импланта'}) Устанавливаем выбранный тип импланта. Даем время на&nbsp;приживление. 
    +stage({file:'ehtapy-uslugi-5.jpg',path:imgPath, name:'Слепок зубов'}) Снимаем слепки, передаем зубному технику в&nbsp;собственную зуботехническую лабораторию. 
    +stage({file:'ehtapy-uslugi-6.jpg',path:imgPath, name:'Принцип установки коронки на имплантат'}) Устанавливаем готовую зубную коронку или протез.
  +youtube({id:'5fwuz_M08x4', desc:'Один из вариантов восстановления зубов имплантатами Dentium'})
  h2 Часто задаваемые вопросы
  h3 Назовите противопоказания
  p Заболевания крови, иммунной системы, онкология, сахарный диабет, воспалительные процессы в&nbsp;полости рта.
  h3 Какие будут рекомендации после установки?
  p Тщательно чистить зубы мягкой щеткой, полоскать рот антисептическими растворами, регулярно посещать осмотры у&nbsp;стоматолога и&nbsp;имплантолога, дважды в&nbsp;год проводить чистку у&nbsp;гигиениста.
  p Приглашаем записаться на&nbsp;консультацию в&nbsp;клинику, чтобы как можно скорее восстановить отсутствующие зубы. Долгое их&nbsp;отсутствие&nbsp;&mdash; не&nbsp;только серьезный ущерб эстетике улыбки, но&nbsp;и&nbsp;риск заболеваний пищеварительной системы и&nbsp;даже искажения черт лица.
