extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Удаление импланта зуба в Санкт-Петербурге: цены'
    var pageDescription = 'Удаление импланта зуба без боли в клинике ВайтДент в Санкт-Петербурге. Опытные хирурги. Методики быстрого заживления. Гарантии качества. Цена на удаление импланта зуба: 6000 руб. Записывайтесь на бесплатную консультацию: +7 (812) 612-97-92.'
    var pageKeywords = ''
    var pageHeader = 'Удаление импланта зуба'
    let imgPath = '/images/implantatsiya/implanty-zubov/udalenie/'
  //-
    +illustration({file:'.jpg',path:imgPath, name:''})
    +stage({file:'.jpg',path:imgPath, name:''}) 
    +price('')
block content

  p Удаление импланта зуба&nbsp;&mdash; это хирургическое вмешательство, в&nbsp;ходе которого из&nbsp;челюстной кости извлекают искусственный корень, представленный титановым винтом.
  +illustration({file:'na-ehtape-udaleniya-implanta.jpg',path:imgPath, name:'На этапе удаления импланта'})
  p Удалять имплантаты приходится при острой боли, отеке и&nbsp;покраснении в&nbsp;области установки, появлении кровотечения, гноя. Решение об&nbsp;удалении принимают, когда воспалительная реакция не&nbsp;снимается после лечения, воспаление охватывает не&nbsp;только мягкие ткани, но&nbsp;и&nbsp;костные структуры. Когда болевая и&nbsp;воспалительная реакции длятся больше недели, отек десны нарастает, повышена температура тела. 

  h2 Основные причины отторжения имплантов
  p Все причины разделяют на&nbsp;3&nbsp;группы: физиологические, ошибки врачей и&nbsp;пациентов.

  h3 Физиологические причины: 
  ul.list-marked
    li сниженный уровень иммунитета,
    li обострение хронических болезней,
    li аллергическая реакция на&nbsp;материал изготовления импланта,
    li травма кости в&nbsp;участке установки импланта.
  p Часто причиной становится периимплантит&nbsp;&mdash; воспаление, приводящее к&nbsp;постепенному разрушению мягких и&nbsp;костных структур челюсти.

  h3 Ошибки врачей:
  ul.list-marked
    li неправильно подобранный имплант,
    li не&nbsp;проведено наращивание костной ткани при наличии показаний,
    li протезирование на&nbsp;стадии, когда имплантат еще полностью не&nbsp;прижился,
    li проведение операции некачественными инструментами и&nbsp;оборудованием,
    li неправильная тактика лечения,
    li развитие инфекции в&nbsp;области установки имплантатов из-за плохого качества антисептической обработки,
    li низкокачественный имплантат,
    li подбор неподходящего протеза, нагрузка которого на&nbsp;винт оказалась гораздо больше возможной,
    li неполная или некачественная диагностика, в&nbsp;ходе которой не&nbsp;были выявлены противопоказания к&nbsp;имплантации,
    li неверное крепление винта или неточно подобранный его размер.

  h3 Ошибки пациента:
  ul.list-marked
    li несоблюдение схемы приема антибиотиков,
    li чрезмерные физические нагрузки,
    li переохлаждения или перегревы (купание в&nbsp;проруби, посещение сауны),
    li некачественная гигиена ротовой полости,
    li курение, которое вызывает налет, снижающий защитные свойства слизистой,
    li чрезмерные нагрузки на&nbsp;еще не&nbsp;прижившийся имплант,
    li игнорирование профессиональной гигиены полости рта, когда зубной камень и&nbsp;налет вовремя не&nbsp;снимаются.

  h2 Почему доверить удаление импланта зуба в&nbsp;СПб лучше &laquo;Вайт Дент&raquo;?

  ul.list-marked
    li Процедуру проводят врачи с&nbsp;европейским образованием.
    li Вошли в&nbsp;топ-10 клиник по&nbsp;имплантации.
    li Оказываем эффективную помощь даже в&nbsp;самых сложных случаях: тактику лечения продумываем на&nbsp;врачебных собраниях, в&nbsp;случае необходимости&nbsp;&mdash; приглашаем ведущих специалистов города к&nbsp;консилиуму.
    li Получили значительный опыт эффективной стоматологической помощи за&nbsp;15&nbsp;лет работы.
    li В&nbsp;коллективе специалисты во&nbsp;всех сферах, поэтому оказываем полный комплекс услуг.
    li Контролируем качество оказанных услуг с&nbsp;помощью немецкого компьютерного томографа Galileos Sirona, итальянской рентгенологической установки XPLOR-X 70.
    li Работаем только на&nbsp;современном оборудовании: в&nbsp;арсенале автоклавы от&nbsp;итальянского бренда Mosom, стоматологические установки SDS-2000 (производство США), физиодиспенсеры W&amp;H и&nbsp;NSK (произведены в&nbsp;Австрии и&nbsp;Японии).
    li Сотрудничать с&nbsp;нами комфортно: предлагаем только выгодные кредитные программы, в&nbsp;рассрочку для постоянных клиентов.

  h2 Этапы удаления имплантов
  ul.list-marked
    +stage({file:'ehtapy-uslugi-1.jpg',path:imgPath, name:'В процессе снятия коронки'})  Снимаем протез или коронку.
    +stage({file:'ehtapy-uslugi-2.jpg',path:imgPath, name:'В процессе надреза десны'})  Надрезаем десну.
    +stage({file:'ehtapy-uslugi-3.jpg',path:imgPath, name:'Удаление импланта'})  Извлекаем имплантат.
    +stage({file:'ehtapy-uslugi-4.jpg',path:imgPath, name:'На этапе обработки участка удаления импланта'})  Обрабатываем участок, если необходимо&nbsp;&mdash; препарируем пораженные ткани.
    +stage({file:'ehtapy-uslugi-5.jpg',path:imgPath, name:'В процессе составления плана лечения'})  Устанавливаем причину отторжения, разрабатываем план реабилитации.

  h2 Принципы точности, безопасности, безболезненности и&nbsp;долговечности
  ul.list-marked
    li использование компьютерного томографа обеспечивает точность,
    li безопасности достигаем безвредным излучением томографа, сертифицированным стерилизационным оборудованием, программами антиспид и&nbsp;антигепатит,
    li современные анестетики позволяют достичь полной безболезненности,
    li долговечность обеспечена гарантией от&nbsp;производителя и&nbsp;клиники.

  h2 Часто задаваемые вопросы
  h3 Можно&nbsp;ли сразу провести повторную имплантацию?
  p Нет, делать этого нельзя. Нужно дать время на&nbsp;восстановление мягких тканей и&nbsp;костных структур.
  h3 Как долго длится реабилитация?
  p Обычно этот период составляет несколько месяцев.
  h3 Есть&nbsp;ли риск, что и&nbsp;очередной имплантат не&nbsp;приживется?
  p Обычно, если врач соблюдает все правила, проводит имплантацию качественным оборудованием и&nbsp;инструментами, устанавливает проверенные импланты, то&nbsp;подобный риск не&nbsp;сбывается. 

  p Приглашаем на&nbsp;консультацию в&nbsp;клинику, чтобы вовремя решить проблему с&nbsp;отторгшимся имплантом. Если этого не&nbsp;сделать, высок риск остеомиелита, представляющего угрозу для жизни.
