extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Имплант Adin (адин) израиль: отзывы и цены, имплантация adin в Спб.'
    var pageDescription = 'Клиника ВайтДент предлагает надежные импланты Adin (адин) в спб. Опытные имплантологи. Цены на имплантацию adin: 20000 руб. Гарантия результата! Срок службы до ХХ лет. Бесплатная консультация по телефону: +7 (812) 612-97-92.'
    var pageKeywords = ''
    var pageHeader ='Имплантаты Adin'
    let imgPath = '/images/implantatsiya/implanty-zubov/adin/'
  //-
    +illustration({file:'.jpg',path:imgPath, name:''})
    +stage({file:'.jpg',path:imgPath, name:''}) 
    +price('')
block content
  p Импланты Adin, Адин (Израиль)&nbsp;&mdash; это искусственные зубные корни в&nbsp;виде титановых винтов от&nbsp;израильского бренда Adin Group, который производит стоматологическую продукцию уже почти пять десятилетий. 
  p Импланты этой марки устанавливают при отсутствии от&nbsp;1&nbsp;и&nbsp;более зубов, атрофии костной ткани, проведении одномоментной и&nbsp;экспресс-имплантации. 

  h2 Виды
  p Винты представлены шестью разновидностями, под которые предусмотрено до&nbsp;120 вариантов размеров:
  ul.list-marked
    li Touareg: изделия конической формы, с&nbsp;двойной резьбой, самонарезающей конструкцией. По&nbsp;всей длине величина резьбы неоднородная, на&nbsp;шейке присутствуют микрокольца. Используют при необходимости провести имплантацию за&nbsp;один день, сразу после удаления зуба (обычно в&nbsp;1-2&nbsp;этапа).
      +illustration({file:'implant-adin-touareg.jpg',path:imgPath, name:'Имплант Adin Touareg'})
    li Touareg-S используют для имплантации с&nbsp;минимальной травматизацией тканей. Обычно практикуют при закрытом синус-лифтинге. Форма головки винта такова, что его вживляют, не&nbsp;повреждая кость. 
      +illustration({file:'implanty-adin-touareg-s-i-swell.jpg',path:imgPath, name:'Импланты Adin Touareg-S и Swell'})
    li Touareg-X: в&nbsp;области шейки имплант Adin имеет форму обратного конуса, за&nbsp;счет чего сохраняются костные структуры и&nbsp;мягкие ткани вокруг импланта. Эта разновидность быстрее приживается.
    li Swell: винт с&nbsp;двойной самонарезающей поверхностью, конически-выпуклой формой. Применяют для правильного распределения нагрузки на&nbsp;кость.
    li Arrow one-piece: монолитная структура и&nbsp;малый шаг резьбы обеспечивает прочную фиксацию в&nbsp;челюсти, применяют при очень узком альвеолярном гребне.
      +illustration({file:'vid-implantov-adin-arrow-one-piece-i-mini-oskar.jpg',path:imgPath, name:'Вид имплантов Adin Arrow one-piece и Mini Oskar'})
    li Mini Oskar: используют в&nbsp;качестве временной конструкции, например, для дополнительной фиксации брекет-системы.

  h2 Преимущества 
  ul.list-marked
    li Произведены по&nbsp;новейшим разработкам в&nbsp;области остеоинтеграции: это значит, что они хорошо приживаются и&nbsp;безопасны для пациентов.
    li Максимальный показатель приживаемости.
    li В&nbsp;основе титан высшего качества, поверхность имеет микроструктуру, обработанную запатентованной системой, что дает высокую биосовместимость с&nbsp;костной тканью.
    li Подходят для несъемного протезирования при полном отсутствии зубного ряда.
    li Высокое качество по&nbsp;доступной стоимости.
    li На&nbsp;конструкции есть знак качество, соответствуют международным стандартам, проходят проверку в&nbsp;лаборатории и&nbsp;департаменте здравоохранения Израиля.
    li Широкий выбор вариантов конструкций&nbsp;&mdash; возможность успешно решить любой клинический случай.
    li Пожизненная гарантия на&nbsp;импланты от&nbsp;производителя.

  h2 Почему поставить импланты Адин в&nbsp;СПб лучше в&nbsp;&laquo;Вайт Дент&raquo;?
  ul.list-marked
    li Заняли значимую позицию в&nbsp;топ-10 по&nbsp;имплантации.
    li Имплантацию проводят врачи с&nbsp;европейским образованием. 
    li Успешно решаем даже нестандартные, самые сложные случаи: собираем врачебные собрания, а&nbsp;при необходимости к&nbsp;консилиуму приглашаем ведущих врачей города.
    li Благодаря собственной зуботехнической лаборатории контролируем качество каждого этапа, регулируем стоимость в&nbsp;пользу клиентов, ускоряем процесс изготовления.
    li Цифровое моделирование улыбки позволяет нам добиться идеального результата восстановления зубов.
    li Предлагаем только комфортные варианты сотрудничества: выгодные условия по&nbsp;кредитным программам, делаем рассрочку на&nbsp;лечение для постоянных клиентов. 
    li Контролируемого качества достигаем прогрессивными методами диагностики: используем итальянскую рентгенологическую установку XPLOR-X 70&nbsp;и&nbsp;немецкий компьютерный томограф Galileos Sirona.
    li Используем только современное оборудование: стоматологические установки SDS-2000 производства США, физиодиспенсеры NSK (произведены в&nbsp;Японии) и&nbsp;W&amp;H (произведены в&nbsp;Австрии), автоклавы итальянского производителя Mosom.
    li Восстанавливаем зубы максимально приближенными к&nbsp;натуральному виду конструкциями по&nbsp;оттенку, величине, форме и&nbsp;функциям. Для этого практикуем прогрессивные технологии, клинически испытанные, сертифицированные материалы.
    li На&nbsp;протяжении 15&nbsp;лет успешно восстанавливаем улыбку. За&nbsp;столь продолжительный срок успели накопить значительный опыт эффективного решения ортопедических проблем разной сложности. 

  h2 Импланты Adin: <? /*отзывы и&nbsp;*/ ?>цены 
  p Стоимость будет зависеть от&nbsp;разных критериев: количества этапов, вида импланта, особенностей установки и&nbsp;других нюансов. Точная цена на&nbsp;имплантацию Adin будет названа во&nbsp;время первого визита в&nbsp;клинику, а&nbsp;пока предлагаем ознакомиться с&nbsp;прайс-листом.
  +price(pageHeader)

  | <? /* <p>Отзывы об&nbsp;установленных в&nbsp;нашей клинике имплантах бренда тоже помогут вам принять решение, читайте их&nbsp;прямо сейчас.</p> */ ?>

  h2 Этапы восстановления зубов
  ul.list-marked
    +stage({file:'ehtapy-uslugi-1.jpg',path:imgPath, name:'На этапе консультации у имплантолога'}) Диагностируем, консультируем, составляем план лечения.
    +stage({file:'ehtapy-uslugi-2.jpg',path:imgPath, name:'Принцип профессиональной чистки зубов'}) Проводим профессиональную чистку зубов, санацию полости рта.
    +stage({file:'ehtapy-uslugi-3.jpg',path:imgPath, name:'Установка импланта'}) Устанавливаем выбранный имплант. 
    +stage({file:'ehtapy-uslugi-4.jpg',path:imgPath, name:'Снятие слепка'}) Снимаем слепок.
    +stage({file:'ehtapy-uslugi-5.jpg',path:imgPath, name:'В процессе изготовки протеза в зуботехнической лаборатории'}) Передаем оттиск на&nbsp;изготовление постоянного протеза.
    +stage({file:'ehtapy-uslugi-6.jpg',path:imgPath, name:'Установка протеза'}) После приживления импланта, устанавливаем абатмент, готовый протез.

  h2 Принципы точности, безопасности, долговечности и&nbsp;безболезненности

  ul.list-marked
    li работа на&nbsp;компьютерном томографе обеспечивает точность,
    li безопасность обеспечена сертифицированным стерилизационным оборудованием, программами антиспид и&nbsp;антигепатит, безвредным излучением томографа;
    li долговечность складывается из&nbsp;двойной гарантии (от&nbsp;производителя и&nbsp;клиники);
    li полную безболезненность обеспечивают современные анестетики.

  +youtube({id: 'zS29vt6PDH4', desc: 'Общий вид и принцип установки имплантов Adin'})
  h2 Часто задаваемые вопросы
  h3 Назовите противопоказания к&nbsp;имплантации
  p Имплантацию не&nbsp;делают до&nbsp;18&nbsp;лет, при сахарном диабете, болезнях крови, онкологии.
  h3 Есть&nbsp;ли у&nbsp;имплантов Adin минусы?
  p Самый существенный заключается в&nbsp;том, что в&nbsp;ассортименте бренда отсутствуют винты с&nbsp;минимальным размером. 
  h3 Чем отличается имплант Adin от&nbsp;Nobel?
  p По&nbsp;качеству они практически равнозначны, но&nbsp;первые стоят дешевле. Оба вида не&nbsp;вызывают аллергию, хорошо приживаются, отторжения&nbsp;&mdash; редкость. Но&nbsp;гарантийный срок от&nbsp;шведского производителя больше.
  p Приглашаем на&nbsp;консультацию в&nbsp;клинику, чтобы восстановить эстетику улыбки и&nbsp;снизить риски (избежать заболеваний желудка, искажения пропорций лица).
