extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Имплант на передние верхние зубы: цены в Санкт-Петербурге'
    var pageDescription = 'Надежные импланты на передние верхние зубы в клинике ВайтДент. Легко приживаются. Опытные имплантологи. Цены на имплант переднего зуба: 23000 руб. Гарантия результата! Срок службы до XXX лет. Звоните сейчас: +7 (812) 612-97-92.'
    var pageKeywords = ''
    var pageHeader = 'Имплант переднего зуба'
    let imgPath = '/images/implantatsiya/implanty-zubov/perednego-zuba/'
  //-
    +illustration({file:'.jpg',path:imgPath, name:''})
    +stage({file:'.jpg',path:imgPath, name:''}) 
    +price('')
block content

  p Импланты на&nbsp;передние зубы&nbsp;&mdash; это титановые винты, выступающие в&nbsp;качестве аналогов зубных корней, которые устанавливают для восстановления фронтальной группы зубов.

  h2 Преимущества
  ul.list-marked
    li долговечность: качественный и&nbsp;правильно подобранный титановый стержень может прослужить всю жизнь;
    li полное восстановление функционала и&nbsp;внешнего вида зубов;
    li не&nbsp;нужно обтачивать соседние зубы и&nbsp;удалять нерв;
    li нагрузка при имплантации распределяется равномерно, поэтому исключена атрофия костной ткани.

  h2 Виды
  ul.list-marked
    li импланты передних верхних зубов,
      +illustration({file:'implanty-perednih-verhnih-zubov.jpg',path:imgPath, name:'Импланты передних верхних зубов'})
    li импланты нижних зубов фронтальной группы.
      +illustration({file:'implant-perednego-nizhnego-zuba.jpg',path:imgPath, name:'Имплант переднего нижнего зуба'})
  p Важно отметить, что ключевым отличием является использование искусственных корней меньшего диаметра, чем обычно. Это нужно для одновременного обеспечения минимальной травматичности и&nbsp;надежности фиксации. Кроме разницы в&nbsp;диаметре, импланты передних зубов отличаются особым покрытием (способствующим улучшению остеоинтеграции) и&nbsp;конструкцией резьбы. 

  h2 Почему поставить импланты на&nbsp;передние зубы в&nbsp;СПб лучше в&nbsp;&laquo;Вайт Дент&raquo;?
  ul.list-marked
    li Достигаем идеального результата, используя цифровое моделирование улыбки.
    li Заняли значимую позицию в&nbsp;топ-10 клиник по&nbsp;имплантации.
    li Восстановление зубов проводят имплантологи с&nbsp;европейским образованием.
    li Имеем собственную зуботехническую лабораторию, благодаря чему поддерживаем достойное качество на&nbsp;всех этапах, ускоряем процесс изготовления, устанавливаем доступные цены.
    li Эффективно решаем даже самые сложные случаи благодаря опыту, который мы&nbsp;накопили за&nbsp;15&nbsp;лет работы.
    li Вырабатывать правильную тактику решения сложных и&nbsp;нестандартных случаев позволяют регулярные врачебные собрания и&nbsp;консилиумы с&nbsp;привлечением ведущих специалистов города.
    li Для восстановления зубов используем конструкции, идентичные по&nbsp;функционалу и&nbsp;внешнему виду натуральным зубам. Для достижения такого эффекта мы&nbsp;используем сертифицированные материалы, клинически испытанные, прогрессивные технологии.
    li Создали комфортные условия сотрудничества: проводим лечение в&nbsp;рассрочку для постоянных клиентов, предлагаем программы кредитования с&nbsp;выгодными условиями.
    li Стоматологическую помощь оказываем только современным оборудованием: американскими стоматологическими установками SDS-2000, австрийскими и&nbsp;японскими физиодиспенсерами W&amp;H и&nbsp;NSK.
    li Продвинутые методы диагностики позволяют нам держать качество под контролем: используем итальянскую рентгенологическую установку XPLOR-X 70, немецкий компьютерный томограф Galileos Sirona.

  h2 Цена импланта переднего зуба 
  p Цена будет зависеть от&nbsp;способа имплантации, вида и&nbsp;конструкции винта, количества отсутствующих зубов, сложности случая и&nbsp;других нюансов. Предлагаем узнать стоимость импланта переднего верхнего зуба и&nbsp;нижнего, изучить другие позиции в&nbsp;прайс-листе, чтобы понять разницу. Полную и&nbsp;точную сумму вам назовет врач во&nbsp;время первого визита в&nbsp;клинику.
  +price(pageHeader)

  h2 Особенности имплантации зубов фронтальной группы
  p Принимая решение о&nbsp;восстановлении зубов имплантами, врач следует конкретной тактике. Зачастую это будет экспресс-имплантация, но&nbsp;она будет отличаться, в&nbsp;зависимости от&nbsp;того, зубы какого зубного ряда восстанавливают. Например, верхние зубы имплантируют предельно аккуратно, чтобы не&nbsp;задеть пазухи, расположенные очень близко, и&nbsp;соседние структуры. 
  p Вторая особенность&nbsp;&mdash; выбор преимущественно одномоментного способа имплантации, когда и&nbsp;винт и&nbsp;коронку устанавливают за&nbsp;одно посещение (речь о&nbsp;временной коронке на&nbsp;имплант переднего зуба). 
  p Очередное отличие заключается в&nbsp;том, что костную пластику не&nbsp;проводят, поскольку устанавливают мини-импланты, которые не&nbsp;оказывают значительной нагрузки на&nbsp;кость челюсти.

  h2 Этапы услуги
  ol.list-numbered
    +stage({file:'ehtapy-uslugi-1.jpg',path:imgPath, name:'В процессе консультации'}) Консультируем, диагностируем.
    +stage({file:'ehtapy-uslugi-2.jpg',path:imgPath, name:'В процессе профессиональной чистки зубов'}) Проводим санацию полости рта, профессиональную чистку зубов.
    +stage({file:'ehtapy-uslugi-3.jpg',path:imgPath, name:'В процессе цифрового моделирования имплантации'}) Планируем имплантацию. Ориентируясь на&nbsp;данные компьютерного томографа, создаем виртуальную модель челюсти. Подбираем импланты по&nbsp;типу, величине, конструкции, месту установки и&nbsp;углу расположения. Также подбираем и&nbsp;протезы. Этап планирования ключевой, потому что не&nbsp;только прогнозирует результат, но&nbsp;и&nbsp;позволяет снизить риски.
    +stage({file:'ehtapy-uslugi-4.jpg',path:imgPath, name:'Установка импланта'}) Устанавливаем импланты выбранным способом.
    +stage({file:'ehtapy-uslugi-5.jpg',path:imgPath, name:'Слепок зубов'}) Снимаем слепки, передаем в&nbsp;зуботехническую лабораторию.
    +stage({file:'ehtapy-uslugi-6.jpg',path:imgPath, name:'Временные протезы на импланты'}) Устанавливаем временный протез.
    +stage({file:'ehtapy-uslugi-7.jpg',path:imgPath, name:'Перед примеркой модели челюсти'}) Примеряем модель челюсти, отлитую по&nbsp;слепку. Отправляем на&nbsp;коррекцию, если нужно.
    +stage({file:'ehtapy-uslugi-8.jpg',path:imgPath, name:'Установка постоянной коронки на имплант'}) Устанавливаем постоянную коронку или протез.

  h2 Принципы точности, безопасности, безболезненности и&nbsp;долговечности
  ul.list-marked
    li использование компьютерного томографа обеспечивает точность,
    li безопасность базируется на&nbsp;программах антигепатит и&nbsp;антиспид, безвредном излучении томографа, применении сертифицированного стерилизационного оборудования,
    li полной безболезненности достигаем, используя современные анестетики;
    li долговечность основывается на&nbsp;гарантиях от&nbsp;клиники и&nbsp;производителя.
  +youtube({id:'sWKI8vqZr24',desc:'В процессе имплантации зубов'})
  h2 Часто задаваемые вопросы
  h3 Расскажите об&nbsp;уходе после имплантации
  p Практически не&nbsp;отличается от&nbsp;ухода за&nbsp;натуральными зубами. Дважды в&nbsp;год надо проходить профессиональную чистку зубов, каждый год&nbsp;&mdash; осмотр у&nbsp;специалиста, придерживаться рекомендаций врача. Сразу после установки не&nbsp;нужно сильно нагружать имплантаты.
  h3 Какие коронки обычно устанавливают на&nbsp;эти импланты?
  p Обычно устанавливают коронки из&nbsp;диоксида циркония или керамики. Первый превосходит по&nbsp;прочности, а&nbsp;второй отличается высшей эстетикой. 

  p Приглашаем записаться на&nbsp;консультацию в&nbsp;клинику, чтобы как можно быстрее вернуть улыбке совершенство. А&nbsp;долгое затягивание с&nbsp;восстановлением зубов смещает зубы в&nbsp;ряду, провоцирует искажение черт лица, заболевания желудка.
