mixin illustration(item)
  p.illustration(itemscope='' itemtype='http://schema.org/ImageObject')
    img(src=`${item.path}${item.file}` alt != item.name title != item.name)
    if item.caption
      br
      i(itemprop='caption') !{item.name}
