extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var pageHeader = 'Слепок зуба'
    let imgPath = '/images/implantatsiya/implanty-zubov/slepok-zuba/'
  //-
    +illustration({file:'.jpg',path:imgPath, name:''})
    +stage({file:'.jpg',path:imgPath, name:''}) 
    +price('')
block content
  p Слепок зубов&nbsp;&mdash; это точный отпечаток зубного ряда, по&nbsp;которому отливается восковая и&nbsp;гипсовая модель конструкций для протезирования. Оттиски нужны для изготовления протезов, единичных коронок, индивидуальных абатментов, пластин, капп, ретейнеров, брекетов. 

  h2 Виды слепков

  ul.list-marked
    li частичные или полные,
      +illustration({file:'chastichnyj-i-polnyj-slepok-zubov.jpg',path:imgPath, name:'Частичный и полный слепок зубов'})
    li одноэтапные или двухэтапные,
      +illustration({file:'primeru-odnoehtapnogo-i-dvuhehtapnogo-slepka-zubov.jpg',path:imgPath, name:'Примеру одноэтапного и двухэтапного слепка зубов'})
    li полиэфирные, силиконовые или альгинатные,
      +illustration({file:'alginatnyj-slepok-zubov.jpg',path:imgPath, name:'Альгинатный слепок зубов'})
    li однофазные или двухфазные (снятие оттисков одним материалом в&nbsp;один этап или несколькими материалами в&nbsp;два этапа),
      +illustration({file:'dvuhfaznyj-slepok-zubov.jpg',path:imgPath, name:'Двухфазный слепок зубов'})
    li компрессионные или декомпрессионные (снятые под давлением и&nbsp;без соответственно),
    li функциональные (снимают индивидуальными ложками, используя функциональные пробы) или анатомические (получают стандартными либо индивидуальными ложками, без учета функционального состояния слизистой и&nbsp;образований на&nbsp;ней).
      +illustration({file:'anatomicheskie-slepki-zubov.jpg',path:imgPath, name:'Анатомические слепки зубов'})

  h2 Преимущества 

  ul.list-marked
    li пластичные: материалы легко распределяются по&nbsp;поверхности, точно покрывают зубы и&nbsp;все участки в&nbsp;полости рта;
    li быстро затвердевают, 
    li создают точный отпечаток зубного ряда;
    li быстрое затвердевание: оттиск выполняется за&nbsp;2&nbsp;минуты;
    li полностью повторяется анатомия труднодоступных мест;
    li профессионализм врача при снятии оттисков позволяет избежать раздражения слизистой, кариеса.

  h2 Почему слепок зубов в&nbsp;СПб лучше делать в&nbsp;&laquo;Вайт Дент&raquo;?

  ul.list-marked
    li Оттиски выполняют протезисты с&nbsp;европейским образованием.
    li Действует своя зуботехническая лаборатория, которая помогает сократить срок создания протезных конструкций, отследить качество на&nbsp;всех стадиях, минимизировать стоимость.
    li Успешно восстанавливаем зубы в&nbsp;течение 15&nbsp;лет (работаем с&nbsp;2004&nbsp;года).
    li Предлагаем удобные варианты сотрудничества: постоянные клиенты получают лечение в&nbsp;рассрочку, действуют выгодные программы кредитования.
    li Современная диагностика позволяет нам взять качество ортопедической помощи под полный контроль: используем немецкий компьютерный томограф Galileos Sirona, итальянскую рентгенологическую установку XPLOR-X 70.
    li Сложные случаи решаем с&nbsp;организацией консилиума ведущих специалистов города.
    li Успешно решаем даже самые сложные случаи, потому что каждый новый случай рассматриваем на&nbsp;врачебном собрании.
    li Идеального результата добиваемся с&nbsp;помощью цифрового моделирования улыбки. 
    li Устанавливаем конструкции, которые максимально передают натуральный вид зубов по&nbsp;форме, величине, оттенку, выполняют все функции. Для этого используем сертифицированные материалы, успешно прошедшие клинические испытания, прогрессивные технологии. 
    li Используем только современное оборудование: австрийские физиодиспенсеры бренда W&amp;H и&nbsp;японской марки NSK, американские стоматологические установки SDS-2000, итальянские автоклавы MOСOM и&nbsp;вакуумную систему Turbo-Smart Cattani.

  h2 Цены

  p Стоимость будет зависеть от&nbsp;вида оттиска, материала изготовления, количества этапов, техники снятия, назначения и&nbsp;других критериев. Например, цена на&nbsp;слепок зубов для протезирования отличается от&nbsp;стоимости слепка зубов для брекетов. Точную сумму рассчитает специалист во&nbsp;время первого визита в&nbsp;клинику, когда изучит ваш случай и&nbsp;составит эффективный план восстановления зубов. А&nbsp;пока предлагаем узнать примерные расценки в&nbsp;прайс-листе.
  +price('Слепок зуба')


  h2 Из&nbsp;чего создают слепки?
  h3 Твердые материалы
  p Основой обычно служит кристаллический гипс. Он&nbsp;недорогой, доступный, точно передает отпечаток мягких тканей и&nbsp;зубов.
  +illustration({file:'slepok-zubov-iz-tverdyh-materialov.jpg',path:imgPath, name:'Слепок зубов из твердых материалов'})
  h3 Эластичные
  p В&nbsp;качестве основы используют альгинатные вещества. Они доступные, изменяют оттенок, когда пора вносить в&nbsp;ложку, хорошо отображают структуру ротовой полости.
  +illustration({file:'slepok-zubov-iz-ehlastichnyh-materialov.jpg',path:imgPath, name:'Слепок зубов из эластичных материалов'})
  h3 Силиконовые 
  p Применяют A&nbsp;и&nbsp;C-силиконы, которые точно передают структуру уступа и&nbsp;придесневого участка зуба.
  +illustration({file:'silikonovyj-slepok-zubov.jpg',path:imgPath, name:'Силиконовый слепок зубов'})
  h3 Полиэфирные
  p Точно передают рельеф костных образований, зубов, мягких тканей рта. В&nbsp;итоге слепок получается с&nbsp;максимальной детализацией.
  h3 Термопластичные
  p Создают из&nbsp;материалов, изменяющихся под действием температуры. Простые в&nbsp;использовании, хорошо соединяются с&nbsp;оттискной ложкой.
  +illustration({file:'termoplastichnye-slepki-zubov.jpg',path:imgPath, name:'Термопластичные слепки зубов'})
  h3 Моделировочные
  p Изготавливают из&nbsp;парафина, стеарина, воска либо сочетания материалов. Универсальны, удобны, точно отображают мягкие структуры и&nbsp;зубы. 
  +illustration({file:'modelirovochnyj-slepok-zubov.jpg',path:imgPath, name:'Моделировочный слепок зубов'})

  h2 Как проходит изготовление слепка зубов?
  p Чтобы оттиск был качественным, протезист следует требованиям:
  ul.list-marked
    li отсутствуют деформации и&nbsp;поры;
    li точное отображение всех структур.

  h3 Подготовительная стадия


  p Вначале, под действием местных анестетиков, специалист препарирует твердые зубные ткани. После ротовую полость просушивает ватными тампонами (или специальным инструментом&nbsp;&mdash; пистолетом). 
  +illustration({file:'varianty-ottisknyh-lozhek.jpg',path:imgPath, name:'Варианты оттискных ложек'})
  p Подбирает оттискную ложку, примеряет&nbsp;ее. Могут быть неметаллическими и&nbsp;металлическими, нижними, верхними, декомпрессионными, компрессионными. Размер определяют, исходя из&nbsp;формы челюсти, высоты коронок, продолжительности и&nbsp;ширины зубного ряда. Обычно протезист примеряет стандартные ложки, но&nbsp;может передавать зубному технику задачу и&nbsp;по&nbsp;изготовлению индивидуальной. 

  h3 Непосредственно снятие слепка

  ol.list-numbered
    +stage({file:'ehtapy-uslugi-1.jpg',path:imgPath, name:'Заполнение оттискной ложки замешанным материалом'}) Замешанный материал вносят в&nbsp;ложку, которую вводят в&nbsp;полость рта.
    +stage({file:'ehtapy-uslugi-2.jpg',path:imgPath, name:'Снятие слепка зубов'}) Пациент плотно смыкает зубы, чтобы обеспечить полное соприкосновение с&nbsp;материалом.
    +stage({file:'ehtapy-uslugi-3.jpg',path:imgPath, name:'Готовый слепок зубов'}) Как только вышел срок полимеризации массы, протезист извлекает оттиск и&nbsp;сразу передает зубному технику.
    +stage({file:'ehtapy-uslugi-4.jpg',path:imgPath, name:'Модель протезов'}) В&nbsp;зуботехнической лаборатории изготавливают модель протезной конструкции.
  +youtube({id: '7yWbxOxdS_k', desc: 'Процесс изготовления моделей со слепков зубов'})
  h2 Часто задаваемые вопросы

  h3 За&nbsp;сколько времени делается слепок?

  p Обычно на&nbsp;подготовительные работы и&nbsp;непосредственно процесс снятия оттиска затрачивается от&nbsp;20&nbsp;до&nbsp;30&nbsp;минут. 

  h3 Каким должен быть оттискной материал?

  p Безопасным, не&nbsp;токсичным и&nbsp;не&nbsp;аллергенным, должен делать точный отпечаток, легко наноситься, иметь оптимальное время застывания, не&nbsp;деформироваться, удобно храниться и&nbsp;использоваться.

  p Приглашаем записаться на&nbsp;консультацию в&nbsp;нашу клинику, чтобы как можно скорее начать восстанавливать зубы. Ведь долгое отсутствие ведет к&nbsp;деформации черт лица и&nbsp;даже заболевания желудочно-кишечного тракта.
