mixin youtube(item = {id:'', desc:''})
  .youtube-responsive
    .youtube-responsive__iframe
      iframe(src=`https://www.youtube.com/embed/${item.id}` frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    if (item.desc)
      .youtube-responsive__desc !{item.desc}
