extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var pageHeader = ''
    let imgPath = '/images/implantatsiya/implanty-zubov/hirurgicheskiy-shablon/'
  //-
    +illustration({file:'.jpg',path:imgPath, name:''})
    +stage({file:'.jpg',path:imgPath, name:''}) 
    +price('')
block content
  p Хирургический шаблон для имплантации&nbsp;&mdash; это специальная капа-трафарет с&nbsp;отверстиями, позволяющая равномерно и&nbsp;максимально точно расположить импланты на&nbsp;положенном им&nbsp;месте. 

  h2 Для чего используют?
  ul.list-marked
    li Используют при полном отсутствии зубов верхнего или нижнего ряда. Поскольку имплантолог лишен ориентира в&nbsp;плане правильного расположения зубов, он&nbsp;не&nbsp;может установить импланты. Используя цифровые технологии, создают шаблон, который и&nbsp;приносит специалисту положительные результаты.
    li Когда нужно восстановить передние зубы, то&nbsp;в&nbsp;таком случае установка имплантов должна пройти сверхточно. Ведь к&nbsp;фронтальным зубам предъявляют высокие требования эстетики. 
    li Для коррекции концевых дефектов: отсутствие зубов-антагонистов повышает риск неверного позиционирования импланта. Поэтому используют капу-трафарет, спланированную по&nbsp;wax-up. 
    li При необходимости провести одномоментную имплантацию: всего в&nbsp;один визит, с&nbsp;помощью цифрового протокола, готовят комплект из&nbsp;шаблона, абатмента и&nbsp;временной коронки. 

  p Показания для компьютерного моделирования хирургического шаблона&nbsp;&mdash; полное отсутствие зубов и&nbsp;сложные клинические случаи, когда установить импланты без предварительно намеченного каркаса невозможно. Если&nbsp;же отсутствует 1-2&nbsp;зуба, а&nbsp;рядом находятся здоровые, то&nbsp;специалист сможет справиться с&nbsp;поставленной задачей и&nbsp;без применения специального каркаса.

  h2 Виды шаблонов
  p С&nbsp;опорой на&nbsp;десну: применяют при значительном или полном отсутствии зубов. Под него предусмотрен дополнительный этап&nbsp;&mdash; изготовление рентгеноконтрастного шаблона.
  +illustration({file:'primer-hirurgicheskogo-shablona-dlya-implantacii-s-oporoj-na-desnu.jpg',path:imgPath, name:'Пример хирургического шаблона для имплантации с опорой на десну'})
  p С&nbsp;опорой на&nbsp;зубы: с&nbsp;точностью воссоздает рельеф зубов, способствует идеальному внедрению импланта в&nbsp;зубной ряд.
  +illustration({file:'primer-hirurgicheskogo-shablona-dlya-implantacii-s-oporoj-na-zuby.jpg',path:imgPath, name:'Пример хирургического шаблона для имплантации с опорой на зубы'})
  p С&nbsp;опорой на&nbsp;кость: максимально точно воссоздает неровности костного рельефа, но&nbsp;его создают редко, поскольку он&nbsp;применяется только после препарирования значительного участка мягких тканей.
  +illustration({file:'primer-hirurgicheskogo-shablona-dlya-implantacii-s-oporoj-na-kost.jpg',path:imgPath, name:'Пример хирургического шаблона для имплантации с опорой на кость'})
  
  h2 Преимущества

  ul.list-marked
    li длительность имплантации минимизируется,
    li в&nbsp;ходе манипуляций снижен риск травматизации,
    li безошибочная работа имплантолога,
    li результат с&nbsp;высоким уровнем эстетичности,
    li возможность четко спланировать ход и&nbsp;этапы протезирования,
    li как вспомогательный вариант, в&nbsp;случае имплантации с&nbsp;патологией прикуса,
    li ускоряется приживление имплантов,
    li для пациентов с&nbsp;атрофией кости снижается цена процедуры,
    li между имплантами рассчитывается правильный коэффициент расстояния,
    li практически исключены осложнения, срок реабилитации уменьшается.

  h2 Почему проводить имплантацию с&nbsp;хирургическим шаблоном в&nbsp;СПб лучше у&nbsp;нас?

  ul.list-marked
    li Задействуем силы нашей зуботехнической лаборатории, благодаря чему снижаем стоимость, уменьшаем сроки изготовления, контролируем качество на&nbsp;каждом этапе.
    li За&nbsp;этапы имплантации ответственны врачи с&nbsp;европейским образованием.
    li За&nbsp;15&nbsp;лет работы накопили внушительную базу знаний и&nbsp;опыта в&nbsp;восстановлении зубов.
    li Успешно решаем даже сложные случаи, организовывая консилиум из&nbsp;ведущих врачей Санкт-Петербурга, рассматриваем лечебную тактику на&nbsp;собраниях внутри клиники.
    li Создали комфортные условия сотрудничества: для постоянных клиентов предлагаем рассрочку на&nbsp;лечение, выгодные условия по&nbsp;кредитным программам.
    li Цифровое моделирование улыбки позволяет нам добиться идеального результата восстановления зубов.
    li Восстанавливаем зубы конструкциями, которые максимально приближены к&nbsp;натуральному виду: идентичны по&nbsp;цвету, величине, форме, успешно выполняют возложенные на&nbsp;них функции. Для этого практикуем прогрессивные технологии, используем клинически испытанные сертифицированные материалы.
    li Работаем только на&nbsp;современном оборудовании: используем вакуумную систему Turbo-Smart Cattani, автоклавы Mosom итальянского бренда, стоматологические установки SDS-2000 производства США, физиодиспенсеры от&nbsp;японского бренда NSK и&nbsp;австрийского W&amp;H.
    li Практикуем современные методики диагностики, чтобы взять качество под абсолютный контроль: работаем на&nbsp;итальянской рентгенологической установке XPLOR-X 70, немецком компьютерном томографе Galileos Sirona.

  h2 Этапы изготовления хирургического шаблона для имплантации

  ol.list-numbered
    +stage({file:'ehtapy-uslugi-1.jpg',path:imgPath, name:'На этапе компьютерной диагностики'}) Проводим диагностику полости рта, готовим к&nbsp;имплантации. На&nbsp;этом этапе планируем место расположения имплантов так, чтобы добиться максимальной эстетической привлекательности улыбки.

    +stage({file:'ehtapy-uslugi-2.jpg',path:imgPath, name:'Оттиск зубов'}) Делаем оттиск твердых тканей челюсти. Он&nbsp;потребуется для создания хирургического шаблона. 

    +stage({file:'ehtapy-uslugi-3.jpg',path:imgPath, name:'На этапе создания хирургического шаблона для имплантации'}) Создаем каркас, практикуя цифровое моделирование. После чего модель вырезают на&nbsp;специальной машине, получая полимерную каппу. В&nbsp;ней размещены гильзы&nbsp;&mdash; трубочки из&nbsp;металла с&nbsp;отверстиями, в&nbsp;которые и&nbsp;будут устанавливаться импланты. 

  p Для изготовления могут практиковать и&nbsp;другой способ&nbsp;&mdash; создавать хирургический шаблон в&nbsp;зуботехнической лаборатории. Подразумевается командная работа зубного техника и&nbsp;хирурга.

  h2 Принципы безопасности, точности, безболезненности, долговечности

  ul.list-marked
    li безопасность обусловлена безвредным излучением компьютерного томографа, сертифицированным стерилизационным оборудованием, программами антиспид и&nbsp;антигепатит;
    li точности добиваемся работой на&nbsp;компьютерном томографе;
    li современные анестетики позволяют достичь максимальной безболезненности;
    li долговечность складывается из&nbsp;двойной гарантии от&nbsp;клиники и&nbsp;производителя. 
  +youtube({id: 'X2jSU-fqmOw', desc: 'Пример использования хирургического шаблона'})
  h2 Часто задаваемые вопросы

  h3 Бывают&nbsp;ли еще какие-то виды шаблонов?

  p Да, кроме хирургических, создают еще прозрачные, полимерные, акриловые.

  h3 Назовите недостатки изготовления шаблонов для имплантации

  p Их&nbsp;практически нет, единственный&nbsp;&mdash; это несколько повышенная стоимость, учитывая, что для создания практикуется методика компьютерного моделирования и&nbsp;3D-принтер.

  p Приглашаем на&nbsp;консультацию в&nbsp;клинику, чтобы как можно скорее приступить к&nbsp;восстановлению зубов. Долгое отсутствие последних приводит к&nbsp;нарушению эстетики лица (западанию участков кожи вокруг рта) и&nbsp;проблемам с&nbsp;желудочно-кишечным трактом.
